<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PGE | 太平洋綠能</title>

    <meta name="description" content="PGE | 太平洋綠能  “我們的寶島，我們來守護。我支持太平洋綠能!”">
    <link rel="canonical" href="https://www.pacgernegy.com">
    <link rel="shortcut icon" type="image/png" href=""/>

    <meta property="og:locale" content="zh_TW">
    <meta property="og:type" content="website">
    <meta property="og:title" content="PGE | 太平洋綠能">
    <meta property="og:description" content="PGE | 太平洋綠能  “我們的寶島，我們來守護。我支持太平洋綠能!”">
    <meta property="og:url" content="https://www.pacgernegy.com">
    <meta property="og:site_name" content="Pacific Green Energy">
    <meta property="og:image" content="/images/pge-banner.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="<%= assetsMap.about.css %>">
    <!-- <link rel="stylesheet" href="/css/about.css"> -->
</head>
<body>

    <div class="mobile-nav-list">
        <ul>
            <li>
                <a class="navLink" data-hover-text="首頁" href="/">首頁</a>
            </li>
            <li>
                <a class="navLink current" data-hover-text="經營理念" href="/about">經營理念</a>
            </li>
            <li>
                <a class="navLink" data-hover-text="工程實績" href="/projects">工程實績</a>
            </li>
            <li>
                <a class="navLink" data-hover-text="常見問題" href="/faq">常見問題</a>
            </li>
            <li>
                <a class="navLink" data-hover-text="聯繫我們" href="/contact">聯繫我們</a>
            </li>
        </ul>
    </div>

    <div class="wrapper">
        <header class="section-header aspect-natural">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/pge-white-logo.png" alt="">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" data-hover-text="經營理念" href="/about">經營理念</a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="工程實績" href="/projects">工程實績</a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="常見問題" href="/faq">常見問題</a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="聯繫我們" href="/contact">聯繫我們</a>
                        </li>
                    </ul>
                </div>

                <button class="hamburger hamburger--elastic">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </nav>

            <div class="hero-content">
                <h1>邁向更光明未<br>來的小步驟</h1>
            </div>

            <div class="aspect-hero">
                <figure class="about-hero">
                    <img src="/images/about/about-hero.png" alt="">
                </figure>
            </div>
        </header>

        <section class="section about-section-one">
                <figure class="about-smog">
                    <img src="/images/about/about-smog.png" alt="">
                </figure>
            <div class="section-content">

                <div class="content-wrapper">
                    <div class="content-text">
                        <h1 class="underline">經營理念</h1>

                        <p>台灣有很多針對綠能的負面新聞報導的焦點都是綠能太貴，不適合台灣大家都想用便宜的電但很少有人去思考便宜的代價全世界最大單一火力發電廠就在台中台灣火力發電是舊時代的思維，從工業革命就存在火力發電造成的碳排放，環境破壞，空氣污染及社會成本卻沒納入計算但不代表全台灣2300萬人沒有在背負這些負擔
                        <br><br>
                        改變永遠是困難的但為了台灣，為了下一代，為了自己我們不得去改變太平洋綠能 就是從這個想法而衍伸出來的我們從自己所能開始改變，開始要求，開始著手協助台灣完成能源改革 成為全球永續發展的指標</p>
                    </div>
                </div>

                <div class="content-wrapper">
                    <div class="content-media" id="powerplants-trigger">

                        <div class="powerplant-wrapper" id="pge-power1">
                            <figure class="powerplants powerplant-off">
                                <img src="/images/about/power-off-1.png" alt="">
                            </figure>
                            <figure class="powerplants powerplant-on">
                                <img src="/images/about/power-on-1.png" alt="">
                            </figure>
                        </div>

                        <div class="powerplant-wrapper" id="pge-power2">
                            <figure class="powerplants powerplant-off">
                                <img src="/images/about/power-off-2.png" alt="">
                            </figure>
                            <figure class="powerplants powerplant-on">
                                <img src="/images/about/power-on-2.png" alt="">
                            </figure>
                        </div>

                        <div class="powerplant-wrapper" id="pge-power3">
                            <figure class="powerplants powerplant-off">
                                <img src="/images/about/power-off-3.png" alt="">
                            </figure>
                            <figure class="powerplants powerplant-on">
                                <img src="/images/about/power-on-3.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section about-section-two">
            <div class="section-content">
                <div class="content-wrapper">
                    <div class="content-media">
                        <div class="taiwan-country" id="taiwan-one">
                            <figure class="pge-taiwan-img">
                                <img src="/images/PGE-taiwan-empty.png" alt="">
                            </figure>

                            <div class="pge-animals animal1 sprite-img pge-animal-sprite" id="pge-animal1"></div>
                            <div class="pge-animals animal2 sprite-img pge-animal-sprite" id="pge-animal2"></div>
                            <div class="pge-animals animal3 sprite-img pge-animal-sprite" id="pge-animal3"></div>
                            <div class="pge-animals animal4 sprite-img pge-animal-sprite" id="pge-animal4"></div>
                            <div class="pge-animals animal5 sprite-img pge-animal-sprite" id="pge-animal5"></div>
                            <div class="pge-animals animal6 sprite-img pge-animal-sprite" id="pge-animal6"></div>
                            <div class="pge-animals animal7 sprite-img pge-animal-sprite" id="pge-animal7"></div>
                            <div class="pge-animals animal8 sprite-img pge-animal-sprite" id="pge-animal8"></div>
                        </div>
                    </div>
                </div>

                <div class="content-wrapper">
                    <div class="content-text">
                        <h1 class="underline">創辦人簡介</h1>

                        <p>
                            我們是七年級生創業<br>
                            家裡都是工廠背景<br>
                            綠能帶給全球電業革命性的改變<br>
                            我們看見世界的趨勢也看到台灣的未來<br>
                            台灣這個美麗的寶島 每年有95％的能源需求是向國外進口<br>
                            台灣有很好的陽光，風，水，地熱<br>
                            其實只要有心台灣就能自給自足<br>
                            我們創業就是希望用自己一點小小力量 讓台灣變得更好<br>
                            <br>
                            『我們的寶島，我們來守護。我支持綠能。』<br>
                            <br>
                            共同創辦人
                        </p>

                        <div class="founder-profiles">
                            <div class="profile-container profile-one">
                                <figure class="founder-avatar">
                                    <!-- <img src="" alt="鄭旭捷"> -->
                                </figure>
                                <p class="profile-name">鄭旭捷</p>
                                <p class="profile-title">錢轉高聲驚麼</p>
                            </div>
                            <div class="profile-container profile-one">
                                <figure class="founder-avatar">
                                    <!-- <img src="" alt="張家偉"> -->
                                </figure>
                                <p class="profile-name">張家偉</p>
                                <p class="profile-title">錢轉高聲驚麼</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="footer-left">
                <figure class="heading-logo-image">
                    <img src="/images/pge-white-logo.png" alt="">
                </figure>
            </div>

            <div class="footer-center">
                <p>2019 pacific green energy limited all rights reserved</p>
            </div>

            <div class="footer-right">
                <ul class="footer-nav">
                    <li><a href="" class="footer-social" id="linkedin"><img src="/images/social-facebook.svg" alt=""></a></li>
                    <li><a href="" class="footer-social" id="linkedin"><img src="/images/social-insta.svg" alt=""></a></li>
                    <li><a href="" class="footer-social" id="linkedin"><img src="/images/social-linkedin.svg" alt=""></a></li>
                </ul>
            </div>
        </footer>
    </div>

    <script
        async
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="<%= assetsMap.about.js %>"></script>
    <!-- <script src="/js/about.js"></script> -->
</body>
</html>
