<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PGE | 太平洋綠能</title>

    <meta name="description" content="PGE | 太平洋綠能  “我們的寶島，我們來守護。我支持太平洋綠能!”">
    <link rel="canonical" href="https://www.pacgernegy.com">
    <link rel="shortcut icon" type="image/png" href=""/>

    <meta property="og:locale" content="zh_TW">
    <meta property="og:type" content="website">
    <meta property="og:title" content="PGE | 太平洋綠能">
    <meta property="og:description" content="PGE | 太平洋綠能  “我們的寶島，我們來守護。我支持太平洋綠能!”">
    <meta property="og:url" content="https://www.pacgernegy.com">
    <meta property="og:site_name" content="Pacific Green Energy">
    <meta property="og:image" content="/images/pge-banner.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="<%= assetsMap.faq.css %>">
    <!-- <link rel="stylesheet" href="/css/faq.css"> -->
</head>
<body>

    <div class="mobile-nav-list">
        <ul>
            <li>
                <a class="navLink" data-hover-text="首頁" href="/">首頁</a>
            </li>
            <li>
                <a class="navLink" data-hover-text="經營理念" href="/about">經營理念</a>
            </li>
            <li>
                <a class="navLink" data-hover-text="工程實績" href="/projects">工程實績</a>
            </li>
            <li>
                <a class="navLink current" data-hover-text="常見問題" href="/faq">常見問題</a>
            </li>
            <li>
                <a class="navLink" data-hover-text="聯繫我們" href="/contact">聯繫我們</a>
            </li>
        </ul>
    </div>

    <div class="wrapper">
        <a href="/contact" class="call-to-action">
            <span>我要支持綠能！</span>
        </a>

        <header class="section-header aspect-natural">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/pge-logo-color.png" alt="">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" data-hover-text="經營理念" href="/about"><span>經營理念</span></a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="工程實績" href="/projects"><span>工程實績</span></a>
                        </li>
                        <li>
                            <a class="navLink current" data-hover-text="常見問題" href="/faq"><span>常見問題</span></a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="聯繫我們" href="/contact"><span>聯繫我們</span></a>
                        </li>
                    </ul>
                </div>

                <button class="hamburger hamburger--elastic">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </nav>

            <div class="hero-content">
                <h1 class="underline">常見問題</h1>
            </div>

            <figure class="pge-sun sun-rotate">
                <img src="/images/taipei-sun.png" alt="">
            </figure>

            <div class="aspect-hero">
                <figure class="faq-hero">
                    <img src="/images/faq-hero.png" alt="">
                </figure>
            </div>
        </header>

        <section class="section faq-section-one">
            <div class="section-content">
                <div class="faq-container">
                    <div class="faq-content" id="faq-content1">
                        <span class="faq-question">裝設太陽能光電系統有什麼好處？</span>
                        <span class="faq-answer">
                            1.裝設於建築物上可保護屋頂、降低陽光直曬後產生之高溫，節省空調費用支出。<br>
                            2.閒置空間增加新收益<br>
                            3.支持綠色能源 減少環境污染 改善空氣汙染
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content2">
                        <span class="faq-question">在建築方面有什麼要求嗎？</span>
                        <span class="faq-answer">
                            必須確定是合法建築。並有建物、土地所有權狀影本(建物、土地(第一類)登記謄本)及建物使用執照。屋頂型設備的申請者與建物所有權人若不是同一人，必須檢附建物所有權人同意使用證明文件；而地面型設備申請人非土地所有權人者，則應檢附土地所有權人同意使用證明文件。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content3">
                        <span class="faq-question">太陽光電發電設備是否會造成噪音、或造成電磁波危害？</span>
                        <span class="faq-answer">
                            太陽光電發電設備運轉時並不會產生噪音。<br>
                            模組輸出為直流電，並不會衍生高頻率輻射問題。<br>
                            設備整體產生的磁場強度相當於電腦等一般家用電器，除了符合國際電磁波干擾與相容規範(如EN61000-6-2與EN61000-6-3)，也遠低於環保署所訂的環境建議值，故運轉時並無電磁波危害人體之疑慮。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content4">
                        <span class="faq-question">太陽能設備20年後會不會造成大量的廢棄物環境影響</span>
                        <span class="faq-answer">
                            太陽能設備的主要成分為鋼構 鋁 矽 玻璃 都是可以被回收 熔煉 再利用的在結束合約後的3個月內公司會負責回收。政府也有針對環保回收的機制架構中因此不用擔心會造成環境影響唷
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content5">
                        <span class="faq-question">萬一跟你們簽約後未來收不到租金怎麼辦?</span>
                        <span class="faq-answer">
                            太陽光電設備一旦開始發電 我們跟台電的契約是20年 未來的20年公司都會有穩定收益租約都需要到第三方公證單位公證 是有法律強制執行力的 可以不用擔心
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content6">
                        <span class="faq-question">20年租期 可以買賣移轉或繼承嗎?</span>
                        <span class="faq-answer">
                            可以移轉唷！買賣不破租賃協定 只要購買人繼續履行租約是沒問題的<br>
                            ★租約上都會有指定法定代理人需要辦理繼承 租約變更都沒有問題<br>
                            ★買賣會有增值稅產生需自行負擔唷 繼承取得則不會有增值稅
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content7">
                        <span class="faq-question">農地提供出來會不會影響農保資格?</span>
                        <span class="faq-answer">
                            只要地主有農地面積0.1公頃以上且實際從事農業生產都可繼續享有農保資格
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content8">
                        <span class="faq-question">需做地目變更嗎?</span>
                        <span class="faq-answer">
                            需要 農地使用規範<br>
                            ★都市計劃內農地容許不需變更<br>
                            ★都市計劃外 小兩甲農地 需要變更 (變更費用由公司吸收)
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content9">
                        <span class="faq-question">農地申設太陽光電設施是否須課徵地價稅?</span>
                        <span class="faq-answer">
                            是 會有地價稅的產生 目前公司響應政府推動綠能政策 地價稅會由公司事先計算好合併在給地主的租金裡面 待地主收到地價稅單後 再自行繳納
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content10">
                        <span class="faq-question">農地申設太陽光電設施是否須課徵土地增值稅?</span>
                        <span class="faq-answer">
                            是 會有土地增值稅的產生 但土地增值稅是買賣移轉時才會需要繳納
                            如是繼承取得也不用繳納土地增值稅唷
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content11">
                        <span class="faq-question">如果農地都出租給你們做太陽能 以後我們吃什麼？</span>
                        <span class="faq-answer">
                            台灣可耕作農地面積高達58萬公頃 每年有三成（17.4萬公頃）的土地在休耕沒有被利用 休耕的土地只要規劃4.8萬公頃土地做太陽能 就可以達成政府2025 20GW的目標 食物的產量與綠電的推廣只要好好規劃是可以併行運作的 重點是讓我們不用再大量進口能源，錢可以留在台灣照顧內需
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="footer-left">
                <figure class="heading-logo-image">
                    <img src="/images/pge-white-logo.png" alt="">
                </figure>
            </div>

            <div class="footer-center">
                <p>2019 pacific green energy limited all rights reserved</p>
            </div>

            <div class="footer-right">
                <ul class="footer-nav">
                    <li><a href="" class="footer-social" id="linkedin"><img src="/images/social-facebook.svg" alt=""></a></li>
                    <li><a href="" class="footer-social" id="linkedin"><img src="/images/social-insta.svg" alt=""></a></li>
                    <li><a href="" class="footer-social" id="linkedin"><img src="/images/social-linkedin.svg" alt=""></a></li>
                </ul>
            </div>
        </footer>
    </div>

    <script
        async
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="<%= assetsMap.faq.js %>"></script>
    <!-- <script src="/js/faq.js"></script> -->
</body>
</html>
