<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PGE | 太平洋綠能</title>

    <meta name="description" content="PGE | 太平洋綠能  “我們的寶島，我們來守護。我支持太平洋綠能!”">
    <link rel="canonical" href="https://www.pacgernegy.com">
    <link rel="shortcut icon" type="image/png" href=""/>

    <meta property="og:locale" content="zh_TW">
    <meta property="og:type" content="website">
    <meta property="og:title" content="PGE | 太平洋綠能">
    <meta property="og:description" content="PGE | 太平洋綠能  “我們的寶島，我們來守護。我支持太平洋綠能!”">
    <meta property="og:url" content="https://www.pacgernegy.com">
    <meta property="og:site_name" content="Pacific Green Energy">
    <meta property="og:image" content="/images/pge-banner.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="<%= assetsMap.faq.css %>">
    <!-- <link rel="stylesheet" href="/css/faq.css"> -->
</head>
<body>

    <div class="wrapper">
        <div class="cta-wrapper">
            <a href="/contact" class="call-to-action">
                <span class="cta-img hover"></span>
                <span class="cta-img static"></span>
            </a>
        </div>

        <header class="section-header aspect-natural">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/pge-logo-horizontal.svg" alt="">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" data-hover-text="Why太陽能?" href="/about"><span>Why太陽能?</span></a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="工程實績" href="/projects"><span>工程實績</span></a>
                        </li>
                        <li class="current">
                            <a class="navLink" data-hover-text="常見問題" href="/faq"><span>常見問題</span></a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="聯繫我們" href="/contact"><span>聯繫我們</span></a>
                        </li>
                    </ul>
                </div>

                <button class="hamburger hamburger--elastic">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </nav>

            <div class="hero-content">
                <h1 class="underline">常見問題</h1>
            </div>

            <figure class="pge-sun sun-rotate">
                <img src="/images/taipei-sun.png" alt="">
            </figure>

            <div class="aspect-hero">
                <figure class="faq-hero">
                    <img src="/images/faq-hero.png" alt="">
                </figure>
            </div>
        </header>

        <section class="section faq-section-one">
            <div class="section-content">
                <div class="faq-container">
                    <div class="faq-content" id="faq-content1">
                        <span class="faq-question">裝設太陽能光電系統有什麼好處？</span>
                        <span class="faq-answer">
                            1.裝設於建築物上可保護屋頂、降低陽光直曬後產生之高溫，節省空調費用支出。<br>
                            2.閒置空間增加收益。<br>
                            3.支持綠色能源、減少環境污染、改善空氣汙染。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content2">
                        <span class="faq-question">在建築方面有什麼要求嗎？</span>
                        <span class="faq-answer">
                            1. 屋頂型光電系統<br>
                            必須確定是合法建築，且有建物、土地所有權狀影本(建物、土地(第一類)登記謄本)及建物使用執照。屋頂型光電設備的申請者與建物所有權人若不是同一人，必須檢附建物所有權人同意使用證明文件。<br>
                            2. 地面型光電系統<br>
                            設備申請人非土地所有權人者，則應檢附土地所有權人同意使用證明文件。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content3">
                        <span class="faq-question">太陽光電發電設備是否會造成噪音或電磁波危害？</span>
                        <span class="faq-answer">
                            1. 太陽光電發電設備運轉時並不會產生噪音。<br>
                            2. 由於模組輸出為直流電，不會衍生高頻率輻射問題。<br>
                            3. 設備整體產生的磁場強度相當於電腦等一般家用電器，除了符合國際電磁波干擾與相容規範(如EN61000-6-2與EN61000-6-3)，也遠低於環保署所訂的環境建議值，故運轉時並無電磁波危害人體之疑慮。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content4">
                        <span class="faq-question">太陽光電發電設備是否造成光線折射,影響視線?</span>
                        <span class="faq-answer">
                            太陽能板發電方式是利用光電效應，把太陽的光能變成電能，產生電流。因此太陽能板的設計是以”吸光”的方式來使太陽能板發電效益提高,所造成的光線折射比起一般大樓的玻璃帷幕更少。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content5">
                        <span class="faq-question">萬一跟你們簽約後未來收不到租金怎麼辦?</span>
                        <span class="faq-answer">
                            太陽光電設備一旦開始發電，我們跟台電的購電契約是20年，未來的20年公司都會有穩定收益且租約都需要到第三方公證單位公證，是有法律強制執行力的，可以不用擔心。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content6">
                        <span class="faq-question">20年租期可以買賣移轉或繼承嗎?</span>
                        <span class="faq-answer">
                            可以移轉也可以繼承。<br>
                            1. 買賣移轉<br>
                            依據民法第四百二十五條「買賣不破租賃」的規定。只要購買人繼續履行租約是沒問題的。<br>
                            買賣所產生之增值稅需自行負擔。<br>
                            2. 繼承<br>
                            繼承人可以要求變更租約之出租人。<br>
                            繼承取得不會有增值稅之問題。<br>
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content7">
                        <span class="faq-question">農地提供出來會不會影響農保資格?</span>
                        <span class="faq-answer">
                            只要地主有農地面積0.1公頃以上且實際從事農業生產都可繼續享有農保資格。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content8">
                        <span class="faq-question">需做地目變更嗎?</span>
                        <span class="faq-answer">
                            依據農地使用規範：<br>
                            1.都市計劃內：農地容許不需變更。<br>
                            2.都市計畫外：2公頃以下之農地須做變更，變更費用由本公司負擔。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content9">
                        <span class="faq-question">農地申設太陽光電設施是否須課徵地價稅及所得稅?</span>
                        <span class="faq-answer">
                            1.本公司為響應政府推動綠能政策，所出租土地之地價稅由本公司支付。<br>
                            2.本公司支付之租金將代扣繳10%的租賃稅及1.92%的二代健保費用，代扣繳之稅費可於年度所得稅申報應繳稅額中扣除。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content10">
                        <span class="faq-question">農地申設太陽光電設施是否須課徵土地增值稅?</span>
                        <span class="faq-answer">
                            土地增值稅是買賣移轉時才會需要繳納，農地出租做為申設太陽光電設施是不需要繳納增值稅的。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content11">
                        <span class="faq-question">如果農地都出租給你們做太陽能，以後我們吃什麼？</span>
                        <span class="faq-answer">
                            台灣可耕作農地面積高達58萬公頃，每年有三成（17.4萬公頃）的土地在休耕沒有被利用，休耕的土地只要規劃4.8萬公頃土地做太陽能 就可以達成政府2025 20GW的目標，食物的產量與綠電的推廣只要好好規劃是可以併行運作的，重點是讓我們不用再大量進口能源，將我們全民的錢可以做更有效的運用。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content12">
                        <span class="faq-question">太陽光電廢棄模組是否會造成環境污染？</span>
                        <span class="faq-answer">
                            目前國內設置的絕大多數為單晶矽、多晶矽太陽光電模組，主要組成為太陽能電池(矽晶，由矽砂提煉)、玻璃、鋁框架、接線盒(銅線、塑膠聚合物)，原材料為玻璃、矽砂、金屬及極少量的塑膠，不會自行溶解或滲出液體造成土地或水源汙染。另外，太陽光電板扣除鋁框外，僅含有極低比例的金屬(小於1%)，實際應用時已被封裝於玻璃板內，需浸於強酸下，才有可能使低比例的金屬溶出，一般如置放於自然環境下受日曬雨淋，並不會污染環境。
                        </span>
                    </div>

                    <div class="faq-content" id="faq-content13">
                        <span class="faq-question">太陽光電廢棄模組可以回收嗎？</span>
                        <span class="faq-answer">
                            國內為解決大量設置太陽光電，未來將衍生的大量汰役/廢棄模組回收問題，目前規劃參考國際「生產者延伸責任」的環保趨勢，環保署與經濟部持續協助業者完善太陽光電模組回收處理機制。<br>
                            環保署清除處理機構服務管理資訊系統：<a href="https://wcds.epa.gov.tw/WCDS/">https://wcds.epa.gov.tw/WCDS/</a>
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <footer class="section-footer">
                    <div class="footer-container">
                        <div class="footer-left">
                            <a href="/">
                                <figure class="heading-logo-image">
                                    <img src="/images/pge-white-logo.png" alt="">
                                </figure>
                            </a>
                        </div>

                        <div class="footer-center">
                            <div class="footer-nav">
                                <div class="nav-container">
                                    <input type="checkbox" name="footer-accordion" id="footer-1">
                                    <label class="footer-tab" for="footer-1">
                                        <span class="footer-name">關於我們</span>
                                    </label>
                                    <a href="/" class="nomenu-link">關於我們</a>

                                    <div class="nav-menu">
                                        <a href="/#philosophy">經營理念</a>
                                        <a href="/#founder">創辦人簡介</a>
                                    </div>
                                </div>

                                <div class="nav-container">
                                    <input type="checkbox" name="footer-accordion" id="footer-2">
                                    <label class="footer-tab" for="footer-2">
                                        <span class="footer-name">Why太陽能?</span>
                                    </label>
                                    <a href="/about" class="nomenu-link">Why太陽能?</a>

                                    <div class="nav-menu">
                                        <a href="/about#chapterOne">第一章 — 創立</a>
                                        <a href="/about#chapterTwo">第二章 — 寶島</a>
                                        <a href="/about#chapterThree">第三章 — 能源</a>
                                        <a href="/about#chapterFour">第四章 — 空污</a>
                                        <a href="/about#chapterFive">第五章 — 目標</a>
                                        <a href="/about#chapterSix">第六章 — 希望</a>
                                    </div>
                                </div>

                                <div class="nav-container">
                                    <input type="checkbox" name="footer-accordion" id="footer-3">
                                    <label class="footer-tab" for="footer-3">
                                        <span class="footer-name">工程實績</span>
                                    </label>
                                    <a href="/projects" class="nomenu-link">工程實績</a>

                                    <div class="nav-menu">
                                        <a href="/projects#kaohsiung">高雄、岡山</a>
                                        <a href="/projects#taoyuan">桃園、觀音</a>
                                    </div>
                                </div>

                                <div class="nav-container nomenu">
                                    <a href="/faq" class="nomenu-link">常見問題</a>
                                </div>

                                <div class="nav-container nomenu">
                                    <a href="/contact" class="nomenu-link">聯繫我們</a>
                                </div>
                            </div>
                        </div>

                        <div class="footer-right">
                            <p>2019 pacific green energy limited all rights reserved</p>
                        </div>
                    </div>
                </footer>
    </div>

    <script
        async
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="<%= assetsMap.faq.js %>"></script>
    <!-- <script src="/js/faq.js"></script> -->
</body>
</html>
