<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PGE | 太平洋綠能</title>

    <meta name="description" content="PGE | 太平洋綠能  “我們的寶島，我們來守護。我支持太平洋綠能!”">
    <link rel="canonical" href="https://www.pacgernegy.com">
    <link rel="shortcut icon" type="image/png" href=""/>

    <meta property="og:locale" content="zh_TW">
    <meta property="og:type" content="website">
    <meta property="og:title" content="PGE | 太平洋綠能">
    <meta property="og:description" content="PGE | 太平洋綠能  “我們的寶島，我們來守護。我支持太平洋綠能!”">
    <meta property="og:url" content="https://www.pacgernegy.com">
    <meta property="og:site_name" content="Pacific Green Energy">
    <meta property="og:image" content="/images/pge-banner.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="<%= assetsMap.home.css %>">
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
</head>
<body>

    <div class="wrapper">
        <div class="backtop-wrapper chevron-container">
            <div class="chevron"></div>
        </div>

        <header class="section-header aspect-natural">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/pge-logo-horizontal.svg" alt="">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" data-hover-text="Why太陽能?" href="/about"><span>Why太陽能?</span></a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="工程實績" href="/projects"><span>工程實績</span></a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="常見問題" href="/faq"><span>常見問題</span></a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="聯繫我們" href="/contact"><span>聯繫我們</span></a>
                        </li>
                    </ul>
                </div>

                <button class="hamburger hamburger--elastic">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </nav>

            <div class="hero-content">
                <h1 class="underline">
                    太平洋綠能
                    <span>
                        Pacific Green Energy
                    </span>
                    迎向能源改革
                </h1>
            </div>

            <div class="aspect-hero">
                <figure class="about-hero">
                    <img src="/images/about/pge-about-landing.png" alt="">
                </figure>
            </div>
        </header>

        <section class="section about-section-one" id="philosophy">
                <figure class="about-smog">
                    <img src="/images/about/about-smog.png" alt="">
                </figure>
            <div class="section-content">

                <div class="content-wrapper">
                    <div class="content-text">
                        <h1 class="underline">經營理念</h1>

                        <p>
                            台灣有很多針對綠能的負面新聞，焦點都是綠能太貴或是綠能不適合台灣。大家都想用便宜的電但很少人會去思考便宜的代價，如火力發電造成的碳排放，環境的破壞，空氣污染及社會負擔都沒被納入成本計算。台灣抽菸的人口年年減少但肺癌死亡人數卻逐年增加也是癌症之冠。便宜的電賠的卻是全台灣2300萬人的健康與未來。
                            <br><br>
                            火力發電尤其燃煤是舊時代，從工業革命就存在的舊科技。改變永遠是困難的但為了台灣，為了下一代我們不得不去改變。
                            <br><br>
                            太平洋綠能就是在這樣的期許下為了協助台灣迎向能源改革而創立的。
                        </p>

                        <a href="/about" class="btn-green">WHY太陽能?</a>
                    </div>
                </div>

                <div class="content-wrapper">
                    <div class="content-media" id="powerplants-trigger">

                        <div class="powerplant-wrapper" id="pge-power1">
                            <figure class="powerplants powerplant-off">
                                <img src="/images/about/power-off-1.png" alt="">
                            </figure>
                            <figure class="powerplants powerplant-on">
                                <img src="/images/about/power-on-1.png" alt="">
                            </figure>
                        </div>

                        <div class="powerplant-wrapper" id="pge-power2">
                            <figure class="powerplants powerplant-off">
                                <img src="/images/about/power-off-2.png" alt="">
                            </figure>
                            <figure class="powerplants powerplant-on">
                                <img src="/images/about/power-on-2.png" alt="">
                            </figure>
                        </div>

                        <div class="powerplant-wrapper" id="pge-power3">
                            <figure class="powerplants powerplant-off">
                                <img src="/images/about/power-off-3.png" alt="">
                            </figure>
                            <figure class="powerplants powerplant-on">
                                <img src="/images/about/power-on-3.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section about-section-two" id="founder">
            <div class="section-content">
                <div class="content-wrapper">
                    <div class="content-media">
                        <div class="taiwan-country" id="taiwan-one">
                            <figure class="pge-taiwan-img">
                                <img src="/images/PGE-taiwan-empty.png" alt="">
                            </figure>

                            <div class="pge-animals animal1 sprite-img pge-animal-sprite" id="pge-animal1"></div>
                            <div class="pge-animals animal2 sprite-img pge-animal-sprite" id="pge-animal2"></div>
                            <div class="pge-animals animal3 sprite-img pge-animal-sprite" id="pge-animal3"></div>
                            <div class="pge-animals animal4 sprite-img pge-animal-sprite" id="pge-animal4"></div>
                            <div class="pge-animals animal5 sprite-img pge-animal-sprite" id="pge-animal5"></div>
                            <div class="pge-animals animal6 sprite-img pge-animal-sprite" id="pge-animal6"></div>
                            <div class="pge-animals animal7 sprite-img pge-animal-sprite" id="pge-animal7"></div>
                            <div class="pge-animals animal8 sprite-img pge-animal-sprite" id="pge-animal8"></div>
                        </div>
                    </div>
                </div>

                <div class="content-wrapper">
                    <div class="content-text">
                        <h1 class="underline">創辦人簡介</h1>

                        <p>
                            我們是兩個七年級生<br>
                            家裡都是工廠背景<br>
                            綠能帶給全球電業革命性的改變<br>
                            我們看見世界的趨勢也看到台灣的未來<br>
                            台灣這個美麗的寶島 每年有98％的能源需求是向國外進口<br>
                            台灣有很好的陽光，風，水，地熱<br>
                            其實只要有心台灣就能自給自足<br>
                            我們創業就是希望用自己一點小小力量 讓台灣變得更好<br>
                            讓我們的寶島成為全球永續發展的指標。<br>
                            <br>
                            『我們的寶島，我們來守護。我支持綠能。』<br>
                            <br>
                            共同創辦人
                        </p>

                        <div class="founder-profiles">
                            <div class="profile-container profile-one">
                                <figure class="founder-avatar">
                                    <img src="/images/about/pge-founder-1.png" alt="鄭旭捷">
                                </figure>
                                <p class="profile-name">鄭旭捷</p>
                            </div>
                            <div class="profile-container profile-two">
                                <figure class="founder-avatar">
                                    <img src="/images/about/pge-founder-2.png" alt="張家偉">
                                </figure>
                                <p class="profile-name">張家偉</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="cta-wrapper">
                <a href="/contact" class="call-to-action">
                    <span class="cta-img hover"></span>
                    <span class="cta-img static"></span>
                </a>
            </div>

            <div class="footer-container">
                <div class="footer-left">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/pge-white-logo.png" alt="">
                        </figure>
                    </a>
                </div>

                <div class="footer-center">
                    <div class="footer-nav">
                        <div class="nav-container">
                            <input type="checkbox" name="footer-accordion" id="footer-1">
                            <label class="footer-tab" for="footer-1">
                                <span class="footer-name">關於我們</span>
                            </label>
                            <a href="/" class="nomenu-link">關於我們</a>

                            <div class="nav-menu">
                                <a href="/#philosophy">經營理念</a>
                                <a href="/#founder">創辦人簡介</a>
                            </div>
                        </div>

                        <div class="nav-container">
                            <input type="checkbox" name="footer-accordion" id="footer-2">
                            <label class="footer-tab" for="footer-2">
                                <span class="footer-name">Why太陽能?</span>
                            </label>
                            <a href="/about" class="nomenu-link">Why太陽能?</a>

                            <div class="nav-menu">
                                <a href="/about#chapterOne">第一章 — 創立</a>
                                <a href="/about#chapterTwo">第二章 — 寶島</a>
                                <a href="/about#chapterThree">第三章 — 能源</a>
                                <a href="/about#chapterFour">第四章 — 空污</a>
                                <a href="/about#chapterFive">第五章 — 目標</a>
                                <a href="/about#chapterSix">第六章 — 希望</a>
                            </div>
                        </div>

                        <div class="nav-container">
                            <input type="checkbox" name="footer-accordion" id="footer-3">
                            <label class="footer-tab" for="footer-3">
                                <span class="footer-name">工程實績</span>
                            </label>
                            <a href="/projects" class="nomenu-link">工程實績</a>

                            <div class="nav-menu">
                                <a href="/projects#kaohsiung">高雄、岡山</a>
                                <a href="/projects#taoyuan">桃園、觀音</a>
                            </div>
                        </div>

                        <div class="nav-container nomenu">
                            <a href="/faq" class="nomenu-link">常見問題</a>
                        </div>

                        <div class="nav-container nomenu">
                            <a href="/contact" class="nomenu-link">聯繫我們</a>
                        </div>
                    </div>
                </div>

                <div class="footer-right">
                    <p>2019 pacific green energy limited all rights reserved</p>
                </div>
            </div>
        </footer>
    </div>

    <script
        async
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="<%= assetsMap.home.js %>"></script>
    <!-- <script src="/js/home.js"></script> -->
</body>
</html>
