<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>太平洋綠能 - 迈向更光明未来的小步骤</title>

    <meta name="description" content="太平洋綠能 - 前受組的錢轉高聲驚麼了人小表. 以了老，們輕行們法要只言黃用場 而她城建">
    <link rel="canonical" href="http://www.pacgernegy.com">
    <link rel="shortcut icon" type="image/png" href=""/>

    <meta property="og:locale" content="zh_TW">
    <meta property="og:type" content="website">
    <meta property="og:title" content="太平洋綠能 - 迈向更光明未来的小步骤">
    <meta property="og:description" content="太平洋綠能 - 前受組的錢轉高聲驚麼了人小表. 以了老，們輕行們法要只言黃用場 而她城建">
    <meta property="og:url" content="http://www.pacgernegy.com">
    <meta property="og:site_name" content="Pacific Green Energy">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="stylesheet" href="<%= assetsMap.home.css %>">
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
</head>
<body>

    <div class="wrapper">
        <div class="support-container">
            <a href="/beta">我要支持綠能</a>
        </div>

        <div class="chevron-container">
            <div class="chevron-border scrollDownHint"><span class="chevron bounce"></span></div>
        </div>

        <section class="section scene-one">
            <div class="scene-one-start"></div>
            <div class="hero-container">
                <div class="hero-content">
                    <figure class="hero-logo">
                        <img src="/images/home/PGE-logo.png" alt="">
                    </figure>
                    <div class="hero-text">
                        <h1>迈向更光明未来的小步骤</h1>
                        <h2>前受組的錢轉高聲驚麼了人小表. 以了老，們輕行們法要只言黃用場 而她城建</h2>
                    </div>
                </div>

                <div class="full-height-hero"></div>
            </div>

            <div class="full-height-placeholder hero-dummy"></div>

            <div class="sticky-container stickyContainer scene-one-container">
                <div class="act-view-panel act-one-container">
                    <div class="cloud-container">
                        <figure class="cloud-left pge-cloud-img">
                            <img src="/images/home/PGE-cloud-left.png" alt="">
                        </figure>
                        <figure class="cloud-right pge-cloud-img">
                            <img src="/images/home/PGE-cloud-right.png" alt="">
                        </figure>
                    </div>

                    <div class="logo-container center-container">
                        <figure class="pge-logo-img">
                            <img src="/images/home/PGE-logo.png" alt="">
                        </figure>

                        <h2>我們的綠島，我們的捍衛，我要支持綠能</h2>
                    </div>

                    <div class="taiwan-container center-container">
                        <div class="taiwan-text">
                            <h2>台灣．．．我們2300萬人的家，<br>我們美麗的寶島</h2>
                        </div>

                        <div class="taiwan-country">
                            <figure class="pge-taiwan-img">
                                <img src="/images/home/PGE-taiwan-empty.png" alt="">
                            </figure>

                            <figure class="pge-animals pge-pollute animal1" data-order="1" data-type="animal" id="pge-pollute1">
                                <img src="/images/home/PGE-animal-1.png" alt="">
                            </figure>
                            <figure class="pge-animals pge-pollute animal2" data-order="2" data-type="animal" id="pge-pollute2">
                                <img src="/images/home/PGE-animal-2.png" alt="">
                            </figure>
                            <figure class="pge-animals pge-pollute animal3" data-order="4" data-type="animal" id="pge-pollute4">
                                <img src="/images/home/PGE-animal-3.png" alt="">
                            </figure>
                            <figure class="pge-animals pge-pollute animal4" data-order="6" data-type="animal" id="pge-pollute6">
                                <img src="/images/home/PGE-animal-4.png" alt="">
                            </figure>
                            <figure class="pge-animals pge-pollute animal5" data-order="8" data-type="animal" id="pge-pollute8">
                                <img src="/images/home/PGE-animal-5.png" alt="">
                            </figure>
                            <figure class="pge-animals pge-pollute animal6" data-order="9" data-type="animal" id="pge-pollute9">
                                <img src="/images/home/PGE-animal-6.png" alt="">
                            </figure>
                            <figure class="pge-animals pge-pollute animal7" data-order="11" data-type="animal" id="pge-pollute11">
                                <img src="/images/home/PGE-animal-7.png" alt="">
                            </figure>
                            <figure class="pge-animals pge-pollute animal8" data-order="12" data-type="animal" id="pge-pollute12">
                                <img src="/images/home/PGE-animal-8.png" alt="">
                            </figure>

                            <figure class="pge-powerplants pge-pollute pge-power1" data-order="3" data-type="power" id="pge-pollute3">
                                <img src="/images/home/PGE-powerplant-1.png" alt="">
                            </figure>
                            <figure class="pge-powerplants pge-pollute pge-power2" data-order="5" data-type="power" id="pge-pollute5">
                                <img src="/images/home/PGE-powerplant-2.png" alt="">
                            </figure>
                            <figure class="pge-powerplants pge-pollute pge-power3" data-order="7" data-type="power" id="pge-pollute7">
                                <img src="/images/home/PGE-powerplant-3.png" alt="">
                            </figure>
                            <figure class="pge-powerplants pge-pollute pge-power4" data-order="10" data-type="power" id="pge-pollute10">
                                <img src="/images/home/PGE-powerplant-4.png" alt="">
                            </figure>
                            <figure class="pge-powerplants pge-pollute pge-power5" data-order="13" data-type="power" id="pge-pollute13">
                                <img src="/images/home/PGE-powerplant-5.png" alt="">
                            </figure>
                        </div>

                        <div class="ocean-container">
                            <div class="waves-container">
                                <figure class="pge-wave" id="pge-wave1">
                                    <img src="/images/home/pge-waves-1.png" alt="">
                                </figure>

                                <figure class="pge-wave" id="pge-wave2">
                                    <img src="/images/home/pge-waves-2.png" alt="">
                                </figure>

                                <figure class="pge-wave" id="pge-wave3">
                                    <img src="/images/home/pge-waves-3.png" alt="">
                                </figure>

                                <figure class="pge-wave" id="pge-wave4">
                                    <img src="/images/home/pge-waves-4.png" alt="">
                                </figure>

                                <figure class="pge-wave" id="pge-wave5">
                                    <img src="/images/home/pge-waves-1.png" alt="">
                                </figure>

                                <figure class="pge-wave" id="pge-wave6">
                                    <img src="/images/home/pge-waves-2.png" alt="">
                                </figure>

                                <figure class="pge-wave" id="pge-wave7">
                                    <img src="/images/home/pge-waves-3.png" alt="">
                                </figure>

                                <figure class="pge-wave" id="pge-wave8">
                                    <img src="/images/home/pge-waves-4.png" alt="">
                                </figure>
                            </div>

                            <div class="ocean-partition ocean-left">
                                <div class="ocean-text-container">
                                    <p>台灣每一年的能源需求98％是依賴國外進口。造成大家每一年超過一兆人的負擔。</p>
                                </div>

                                <figure class="pge-ship" id="pge-ship-img-l1">
                                    <img src="/images/home/PGE-ship-1.png" alt="">
                                </figure>

                                <figure class="pge-ship" id="pge-ship-img-l2">
                                    <img src="/images/home/PGE-ship-2.png" alt="">
                                </figure>
                            </div>

                            <div class="taiwan-placehold"></div>

                            <div class="ocean-partition ocean-right">
                                <figure class="pge-ship" id="pge-ship-img-r1">
                                    <img src="/images/home/PGE-ship-3.png" alt="">
                                </figure>

                                <figure class="pge-ship" id="pge-ship-img-r2">
                                    <img src="/images/home/PGE-ship-4.png" alt="">
                                </figure>

                                <figure class="pge-ship" id="pge-ship-img-r3">
                                    <img src="/images/home/PGE-ship-1.png" alt="">
                                </figure>

                                <div class="whale-container">
                                    <figure class="pge-whale" id="pge-whale-1">
                                        <img src="/images/home/pge-whale-1.png" alt="">
                                    </figure>

                                    <figure class="pge-whale" id="pge-whale-2">
                                        <img src="/images/home/pge-whale-2.png" alt="">
                                    </figure>

                                    <figure class="pge-whale" id="pge-whale-3">
                                        <img src="/images/home/pge-whale-3.png" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- Act Change -->
                <div class="act-view-panel act-two-container">
                    <div class="scene-two-background"></div>

                    <div class="taipei-sky-elements">
                        <figure class="pge-sun">
                            <img src="/images/home/taipei-sun.png" alt="">
                        </figure>

                        <figure class="pge-moon">
                            <img src="/images/home/taipei-moon.png" alt="">
                        </figure>

                        <figure class="pge-skyline-clouds taipei-day-clouds">
                            <img src="/images/home/taipei-day-clouds.png" alt="">
                        </figure>

                        <figure class="pge-skyline-clouds taipei-night-clouds">
                            <img src="/images/home/taipei-night-clouds.png" alt="">
                        </figure>
                    </div>

                    <div class="skyline-text-container">
                        <p>台灣的農地總面積是579,900公頃地但1/3（193,300公傾）的農地是休耕沒有種植的。台灣只有需要20,000公傾就可以達成 2025年建置20GW太陽能的目標。</p>
                    </div>

                    <div class="city-text-container" id="text-container-one">
                        <p>根據台大公衛學院的研究，空汙在台灣國人死亡負擔要危險因子中，排名名列第四。</p>
                    </div>

                    <div class="skyline-container">
                        <div class="taipei-skyline">
                            <div class="taipei-day-skyline">
                                <figure class="pge-day-skyline" id="pge-day-sky2">
                                    <img src="/images/home/taipei-day-skyline-2.png" alt="">
                                </figure>
                                <figure class="pge-day-skyline" id="pge-day-sky4">
                                    <img src="/images/home/taipei-day-skyline-4.png" alt="">
                                </figure>
                                <figure class="pge-day-skyline" id="pge-day-sky5">
                                    <img src="/images/home/taipei-day-skyline-5.png" alt="">
                                </figure>
                                <figure class="pge-day-skyline" id="pge-day-sky6">
                                    <img src="/images/home/taipei-day-skyline-6.png" alt="">
                                </figure>
                                <figure class="pge-day-skyline" id="pge-day-sky8">
                                    <img src="/images/home/taipei-day-skyline-8.png" alt="">
                                </figure>
                            </div>

                            <div class="taipei-night-skyline">
                                <figure class="pge-night-skyline" id="pge-night-sky1">
                                    <img src="/images/home/taipei-night-skyline-1.png" alt="">
                                </figure>
                                <figure class="pge-night-skyline" id="pge-night-sky2">
                                    <img src="/images/home/taipei-night-skyline-2.png" alt="">
                                </figure>
                                <figure class="pge-night-skyline" id="pge-night-sky3">
                                    <img src="/images/home/taipei-night-skyline-3.png" alt="">
                                </figure>
                                <figure class="pge-night-skyline" id="pge-night-sky4">
                                    <img src="/images/home/taipei-night-skyline-4.png" alt="">
                                </figure>
                                <figure class="pge-night-skyline" id="pge-night-sky5">
                                    <img src="/images/home/taipei-night-skyline-5.png" alt="">
                                </figure>
                                <figure class="pge-night-skyline" id="pge-night-sky6">
                                    <img src="/images/home/taipei-night-skyline-6.png" alt="">
                                </figure>
                                <figure class="pge-night-skyline" id="pge-night-sky7">
                                    <img src="/images/home/taipei-night-skyline-7.png" alt="">
                                </figure>
                                <figure class="pge-night-skyline" id="pge-night-sky8">
                                    <img src="/images/home/taipei-night-skyline-8.png" alt="">
                                </figure>
                            </div>
                        </div>

                        <div class="taipei-solar-panels">
                            <figure class="pge-city-panels" id="city-panel1">
                                <img src="/images/home/city-panel-1.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel2">
                                <img src="/images/home/city-panel-2.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel3">
                                <img src="/images/home/city-panel-3.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel4">
                                <img src="/images/home/city-panel-4.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel5">
                                <img src="/images/home/city-panel-5.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel6">
                                <img src="/images/home/city-panel-6.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel7">
                                <img src="/images/home/city-panel-7.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel8">
                                <img src="/images/home/city-panel-8.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel9">
                                <img src="/images/home/city-panel-9.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel10">
                                <img src="/images/home/city-panel-10.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel11">
                                <img src="/images/home/city-panel-11.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel12">
                                <img src="/images/home/city-panel-12.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel13">
                                <img src="/images/home/city-panel-13.png" alt="">
                            </figure>
                            <figure class="pge-city-panels" id="city-panel14">
                                <img src="/images/home/city-panel-14.png" alt="">
                            </figure>
                        </div>
                    </div>

                    <div class="mobile-phone-overlay"></div>

                    <div class="mobile-panels-container">
                        <div class="hand-phone-container">
                            <figure class="mobile-hand-phone">
                                <img src="/images/home/mobile-hand-phone.png" alt="">
                            </figure>

                            <div class="phone-progress-container">
                                <div class="phone-progress">
                                    <div class="progress-container">
                                        <div class="progress-bar"></div>
                                    </div>
                                </div>
                                <p><span>2025 goal</span><br>20GW</p>
                            </div>

                            <div class="taipei-mobile-panels">
                                <figure class="pge-mobile-panels" id="mobile-panel1">
                                    <img src="/images/home/mobile-panel-1.png" alt="">
                                </figure>
                                <figure class="pge-mobile-panels" id="mobile-panel2">
                                    <img src="/images/home/mobile-panel-2.png" alt="">
                                </figure>
                                <figure class="pge-mobile-panels" id="mobile-panel3">
                                    <img src="/images/home/mobile-panel-3.png" alt="">
                                </figure>
                                <figure class="pge-mobile-panels" id="mobile-panel4">
                                    <img src="/images/home/mobile-panel-4.png" alt="">
                                </figure>
                                <figure class="pge-mobile-panels" id="mobile-panel5">
                                    <img src="/images/home/mobile-panel-5.png" alt="">
                                </figure>
                                <figure class="pge-mobile-panels" id="mobile-panel6">
                                    <img src="/images/home/mobile-panel-6.png" alt="">
                                </figure>
                                <figure class="pge-mobile-panels" id="mobile-panel7">
                                    <img src="/images/home/mobile-panel-7.png" alt="">
                                </figure>
                                <figure class="pge-mobile-panels" id="mobile-panel8">
                                    <img src="/images/home/mobile-panel-8.png" alt="">
                                </figure>
                            </div>

                            <div class="taipei-mobile-plants">
                                <figure class="pge-mobile-powerplants" id="pge-mobile-power1">
                                    <img src="/images/home/PGE-powerplant-1.png" alt="">
                                </figure>
                                <figure class="pge-mobile-powerplants" id="pge-mobile-power2">
                                    <img src="/images/home/PGE-powerplant-2.png" alt="">
                                </figure>
                                <figure class="pge-mobile-powerplants" id="pge-mobile-power3">
                                    <img src="/images/home/PGE-powerplant-3.png" alt="">
                                </figure>
                                <figure class="pge-mobile-powerplants" id="pge-mobile-power4">
                                    <img src="/images/home/PGE-powerplant-4.png" alt="">
                                </figure>
                                <figure class="pge-mobile-powerplants" id="pge-mobile-power5">
                                    <img src="/images/home/PGE-powerplant-5.png" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="people-scene-container">
                        <div class="people-text-container">
                            <h1>我們的寶島，我們的捍衛。<br>我要支持綠能</h1>
                        </div>

                        <div class="people-container">
                            <figure class="pge-people" id="pge-people1">
                                <img src="/images/home/pge-people-1.png" alt="">
                            </figure>
                            <figure class="pge-people" id="pge-people2">
                                <img src="/images/home/pge-people-2.png" alt="">
                            </figure>
                            <figure class="pge-people" id="pge-people3">
                                <img src="/images/home/pge-people-3.png" alt="">
                            </figure>
                            <figure class="pge-people" id="pge-people4">
                                <img src="/images/home/pge-people-4.png" alt="">
                            </figure>
                            <figure class="pge-people" id="pge-people5">
                                <img src="/images/home/pge-people-5.png" alt="">
                            </figure>
                        </div>
                    </div>

                    <div class="form-scene-container">
                        <div class="full-height-hero"></div>

                        <div class="form-container">
                            <h1>們臺地個</h1>

                            <form action="">
                                <div class="form-group">
                                    <input placeholder="姓名" class="pge-form-input" type="text">
                                </div>
                                <div class="form-group">
                                    <input placeholder="聯絡電話" class="pge-form-input" type="phone">
                                </div>
                                <div class="form-group">
                                    <input placeholder="電子信箱" class="pge-form-input" type="email">
                                </div>
                                <div class="form-group">
                                    <span>我有：</span>
                                    <span>
                                        <input class="pge-radio" type="radio" name="estate" id="structure" value="structure" checked>
                                        <label for="structure">建築</label>

                                    </span>
                                    <span>
                                        <input class="pge-radio" type="radio" name="estate" id="land" value="land" >
                                        <label for="land">土地</label>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input placeholder="縣市" class="pge-form-input" type="text">
                                </div>
                                <div class="form-group">
                                    <input placeholder="鎮市區" class="pge-form-input" type="text">
                                </div>
                                <div class="form-group">
                                    <input placeholder="地段" class="pge-form-input" type="text">
                                </div>
                                <div class="form-group">
                                    <input placeholder="地號" class="pge-form-input" type="number">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="scene-scroll-area">
                <div class="scene-one-scrollarea">
                    <div class="cloud-split-scene"></div>

                    <div class="logo-fade-in-scene"></div>

                    <div class="logo-fade-out-scene"></div>

                    <div class="taiwan-intro-scene"></div>

                    <div class="taiwan-zoom-scene"></div>

                    <div class="ocean-intro-scene"></div>

                    <div class="pollution-scene"></div>

                    <div class="kill-clouds-scene"></div>
                </div>

                <div class="scene-two-scrollarea">
                    <div class="smog-enter-scene"></div>

                    <div class="night-cloud-intro-scene"></div>

                    <div class="skyline-enter-scene"></div>

                    <div class="city-panels-scene"></div>

                    <div class="night-skyline-scene"></div>

                    <div class="day-skyline-scene"></div>

                    <div class="taipei-intro-scene"></div>

                    <div class="mobile-phone-scene"></div>

                    <div class="mobile-power-scene"></div>

                    <div class="mobile-panels-scene"></div>

                    <div class="city-exit-scene"></div>

                    <div class="people-popup-scene"></div>

                    <div class="people-popup-delay"></div>

                    <div class="form-intro-scene"></div>

                    <div class="outro-scene"></div>
                </div>
            </div>

        </section>

    <script src="<%= assetsMap.home.js %>"></script>
    <!-- <script src="/js/home.js"></script> -->
</body>
</html>
