<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home route</title>

    <link rel="stylesheet" href="<%= assetsMap.home.css %>">
</head>
<body>

    <div class="wrapper">
        <section class="section">
            <div class="hero-container">
                <div class="hero-content">
                    <h1>迈向更光明未来的小步骤</h1>
                    <h2>前受組的錢轉高聲驚麼了人小表. 以了老，們輕行們法要只言黃用場 而她城建</h2>
                </div>

                <div class="full-height-hero">
                    <figure>
                        <img src="/images/home/PGE-landing.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="full-height-placeholder"></div>

            <div class="sticky-container stickyContainer">

                <div class="cloud-container">
                    <figure class="cloud-left pge-cloud-img">
                        <img src="/images/home/PGE-cloud-left.svg" alt="">
                    </figure>
                    <figure class="cloud-right pge-cloud-img">
                        <img src="/images/home/PGE-cloud-right.svg" alt="">
                    </figure>
                </div>

            </div>

            <div class="debugscrollarea" style="height: 3000px; background-color: #ddd"></div>
        </section>
    </div>

    <script src="<%= assetsMap.home.js %>"></script>
</body>
</html>
