<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>邁向更光明未來的小步驟 | 太平洋綠能</title>

    <meta name="description" content="前受組的錢轉高聲驚麼了人小表. 以了老，們輕行們法要只言黃用場 而她城建">
    <link rel="canonical" href="https://www.pacgernegy.com">
    <link rel="shortcut icon" type="image/png" href=""/>

    <meta property="og:locale" content="zh_TW">
    <meta property="og:type" content="website">
    <meta property="og:title" content="邁向更光明未來的小步驟">
    <meta property="og:description" content="前受組的錢轉高聲驚麼了人小表. 以了老，們輕行們法要只言黃用場 而她城建">
    <meta property="og:url" content="https://www.pacgernegy.com">
    <meta property="og:site_name" content="Pacific Green Energy">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <style>
        div.wrapper {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
        }

        h1 {
            font-size: 42px;
            letter-spacing: 4px;
        }
    </style>

</head>
<body>

    <div class="wrapper">
        <figure class="pge-logo">
            <img src="/images/home/PGE-logo.png" alt="">
        </figure>
        <h1>網站建構中 敬請期待</h1>
    </div>

</body>
</html>
