@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

$noto-reg: 'Noto Sans TC';
$main-white: #ffffff;
$main-black: #222;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  width: 100%;
  font-family: $noto-reg;
  font-weight: 400;
  color: $main-black;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
}

.flex-display {
  display: flex;

  &.position-center {
    align-items: center;
    justify-content: center;
  }

  &.space-around {
    align-items: center;
    justify-content: space-around;
  }

  &.direction-column {
    flex-direction: column;
  }
}

span.br {
  content: ' ';
  display: block;
}

span.br-mobile {
  content: ' ';
  display: inline-block;
  margin: 0 3px;
}

span.br-flex-mobile {
  flex: 1 0 0%;
}

@media (max-width: 575.98px) {
  span.br-flex-mobile {
    flex: 1 0 100%;
  }
}

@media (max-width: 768px) {
  span.br {
    display: inline-block;
    margin: 0 5px;
  }

  span.br-mobile {
    content: ' ';
    display: block;
  }
}

@media (min-width: 768px) {
  .row-eq-height.sm-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

@media (min-width: 992px) {
  .row-eq-height.md-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

/**
 * Text styles
 */

h1, h2, h3, p, span {
  font-family: $noto-reg;
}

h1 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .2s all;
}

h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.align-left {
    text-align: left;
  }
}

p {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 170%;
  text-align: left;
}

/**
 * Button styles
 */

a.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: .2s all ease;

  &.button-grey {
    background-color: #eee;
    color: $main-black;
    border-color: #eee;
  }
}

/**
 * Image/Icon styles
 */

figure {
  img {
    width: 100%;
    vertical-align: bottom;
  }
}

/**
 * Section Styles
 */
section.section {
  position: relative;

  .chevron-container {
    position: absolute;
    display: block;
    background-color: transparent;
    height: 40px;
    width: 40px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    .chevron {
      display: flex;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      transform: rotate(45deg);
      animation: bouncing .5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(.5, .05, 1, .5);

      &.right {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &.left {
        left: 50%;
        transform: translate(-50%, -50%) rotate(-225deg);
      }
    }
  }
}

@keyframes bouncing {
  from { transform: translate3d(0, 0, 0) rotate(45deg); }
  to { transform: translate3d(0, 8px, 0) rotate(45deg); }
}

/**
 * Sprite Styles
 */
.sprite-img {
  background-repeat: no-repeat;

  &.pge-animal-sprite {
    width: 33.82%;
    height: 18.65%;
    background-size: 400%;
    background-image: url(/images/pge-animal-sprite.png);

    &.animal1 { background-position: 0% 0%; }
    &.animal2 { background-position: 33.333% 0%; }
    &.animal3 { background-position: 66.666% 0%; }
    &.animal4 { background-position: 100% 0%; }
    &.animal5 { background-position: 0% 100%; }
    &.animal6 { background-position: 33.333% 100%; }
    &.animal7 { background-position: 66.666% 100%; }
    &.animal8 { background-position: 100% 100%; }
  }

  &.pge-powerplant-sprite {
    background-size: 800%;
    background-image: url(/images/pge-powerplant-sprite.png);

    &.pge-power-on1 { background-position: 0% 0%; }
    &.pge-power-on2 { background-position: 14.285% 0%; }
    &.pge-power-on3 { background-position: 28.57% 0%; }
    &.pge-power-on4 { background-position: 42.855% 0%; }
    &.pge-power-off1 { background-position: 57.14% 0%; }
    &.pge-power-off2 { background-position: 71.425% 0%; }
    &.pge-power-off3 { background-position: 85.71% 0%; }
    &.pge-power-off4 { background-position: 100% 0%; }
  }

  &.pge-wave-sprite {
    width: 122px;
    height: 10px;
    background-size: 400%;
    background-image: url(/images/pge-wave-sprite.png);

    &#pge-wave1 { background-position: 0% 0%; }
    &#pge-wave2 { background-position: 33.333% 0%; }
    &#pge-wave3 { background-position: 66.666% 0%; }
    &#pge-wave4 { background-position: 100% 0%; }
    &#pge-wave5 { background-position: 0% 0%; }
    &#pge-wave6 { background-position: 33.333% 0%; }
    &#pge-wave7 { background-position: 66.666% 0%; }
    &#pge-wave8 { background-position: 100% 0%; }
  }

  &.pge-ship-sprite {
    width: 120px;
    height: 43px;
    background-size: 200%;
    background-image: url(/images/pge-ship-sprite.png);

    &#pge-ship-img-l1 { background-position: 0% 0%; }
    &#pge-ship-img-l2 { background-position: 0% 100%; }
    &#pge-ship-img-r1 { background-position: 100% 0%; }
    &#pge-ship-img-r2 { background-position: 100% 100%; }
    &#pge-ship-img-r3 { background-position: 0% 0%; }
  }

  &.pge-commodity-sprite {
    height: 80px;
    width: 80px;
    background-size: 200%;
    background-image: url(/images/pge-commodity-sprite.png);
    background-position: 0% 0%;
  }

  &.pge-people-sprite {
    width: 190px;
    height: 402px;
    background-size: 500%;
    background-image: url(/images/pge-people-sprite.png);

    &#pge-people1 { background-position: 0% 0%; }
    &#pge-people2 { background-position: 25% 0%; }
    &#pge-people3 { background-position: 50% 0%; }
    &#pge-people4 { background-position: 75% 0%; }
    &#pge-people5 { background-position: 100% 0%; }
  }

  &.pge-city-panel-sprite {
    width: 100%;
    height: 40.82%;
    background-size: 800%;
    background-image: url(/images/pge-city-panel-sprite.png);

    &.city-panel1 { background-position: 0% 0%; }
    &.city-panel2 { background-position: 14.285% 0%; }
    &.city-panel3 { background-position: 28.57% 0%; }
    &.city-panel4 { background-position: 42.855% 0%; }
    &.city-panel5 { background-position: 57.14% 0%; }
    &.city-panel6 { background-position: 71.425% 0%; }
    &.city-panel7 { background-position: 85.71% 0%; }
    &.city-panel8 { background-position: 100% 0%; }
    &.city-panel9 { background-position: 0% 100%; }
    &.city-panel10 { background-position: 14.285% 100%; }
    &.city-panel11 { background-position: 28.57% 100%; }
    &.city-panel12 { background-position: 42.855% 100%; }
    &.city-panel13 { background-position: 57.14% 100%; }
    &.city-panel14 { background-position: 71.425% 100%; }
  }

  &.pge-mobile-panel-sprite {
    width: 27%;
    height: 90%;
    background-size: 400%;
    background-image: url(/images/pge-mobile-panel-sprite.png);

    &.mobile-panel1 { background-position: 0% 0%; }
    &.mobile-panel2 { background-position: 33.333% 0%; }
    &.mobile-panel3 { background-position: 66.666% 0%; }
    &.mobile-panel4 { background-position: 100% 0%; }
    &.mobile-panel5 { background-position: 0% 100%; }
    &.mobile-panel6 { background-position: 33.333% 100%; }
    &.mobile-panel7 { background-position: 66.666% 100%; }
    &.mobile-panel8 { background-position: 100% 100%; }
  }
}
