@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

$noto-reg: 'Noto Sans TC';
$main-white: #ffffff;
$main-black: #222;
$footer-blue: #20529f;
$text-blue: #000d54;
$ocean-blue: #00B8CE;
$polluted-blue: #257A77;
$daySky-blue: #A1E2DE;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  width: 100%;
  font-family: $noto-reg;
  font-weight: 400;
  color: $main-black;
  overflow-x: hidden;
}

body.mobile-active {
  position: fixed;
  overflow: hidden;
}

.wrapper {
  width: 100%;
}

.flex-display {
  display: flex;

  &.position-center {
    align-items: center;
    justify-content: center;
  }

  &.space-around {
    align-items: center;
    justify-content: space-around;
  }

  &.direction-column {
    flex-direction: column;
  }
}

span.br {
  content: ' ';
  display: block;
}

span.br-mobile {
  content: ' ';
  display: inline-block;
  margin: 0;
}

span.br-flex-mobile {
  flex: 1 0 0%;
}

@media (max-width: 575.98px) {
  span.br-flex-mobile {
    flex: 1 0 100%;
  }
}

@media (max-width: 768px) {
  span.br {
    display: inline-block;
    margin: 0 5px;
  }

  span.br-mobile {
    content: ' ';
    display: block;
  }
}

@media (min-width: 768px) {
  .row-eq-height.sm-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

@media (min-width: 992px) {
  .row-eq-height.md-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

/**
 * Text styles
 */

h1, h2, h3, p, span {
  font-family: $noto-reg;
}

h1 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .2s all;

  &.underline:after {
    content: '';
    display: block;
    position: relative;
    width: 80px;
    height: 4px;
    background-color: orange;
    margin: 15px auto 0;
  }
}

h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.medium-bold {
    font-weight: 600;
  }
}

p {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 170%;
  text-align: left;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: $main-black;
  font-weight: 300;
  letter-spacing: 1px;
}

/**
 * Button styles
 */

a.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: .2s all ease;

  &.button-grey {
    background-color: #eee;
    color: $main-black;
    border-color: #eee;
  }
}

/**
 * Image/Icon styles
 */

figure {
  position: relative;
  img {
    width: 100%;
    vertical-align: bottom;
  }
}

.chevron-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 40px;
  width: 40px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;

  &.black {
    .chevron {
      border-color: $main-black;
    }
  }

  .chevron {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);

    &.right {
      transform: rotate(-45deg);
    }

    &.left {
      transform: rotate(-225deg);
    }

    &.bouncing {
      animation: bouncing .5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(.5, .05, 1, .5);
    }
  }
}

/**
 * Section Styles
 */
section.section {
  position: relative;
}

header.section-header {
  position: relative;

  &.aspect-natural {
    position: relative;

    .aspect-hero img { position: relative; }
  }

  &.aspect-2811 {
    .aspect-hero {
      padding-bottom: 28.11%;
    }

    .hero-content {
      top: 55%;

      h1 {
        text-transform: uppercase;
      }
    }
  }

  &.aspect-5625 {
    .aspect-hero {
      padding-bottom: 56.25%;
    }

    .hero-content {
      top: 42.5%;
    }
  }

  .aspect-hero {
    position: relative;
    width: 100%;
    z-index: -1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 26px;
      color: $main-black;
      padding-bottom: 15px;
      line-height: 2;
    }
  }
}

footer.section-footer {
  padding: 30px 80px;
  background-color: $footer-blue;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .footer-left {
    display: flex;
    align-items: flex-end;

    .footer-social {
      &#linkedin {
        margin-right: 10px;
        img {
          max-width: 28px;
        }
      }
    }
  }

  .footer-center {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    p {
      position: relative;
      font-size: 11px;
      letter-spacing: 0;
      color: $main-white;
      text-transform: uppercase;
    }
  }

  .footer-right {
    display: flex;

    ul.footer-nav {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        position: relative;
        text-align: center;
        margin: 0 12px;

        &:last-of-type {
          margin-right: 0;
        }

        a.footer-social {
          display: flex;
          transition: .2s all ease;

          img {
            width: 25px;
          }
        }
      }
    }
  }
}

@keyframes bouncing {
  from { transform: translate3d(0, 0, 0) rotate(45deg); }
  to { transform: translate3d(0, 8px, 0) rotate(45deg); }
}

@media (max-width: 575.98px) {
  footer.section-footer {
    padding: 40px 65px;

    .footer-left {
      .footer-social {
        &#linkedin {
        }
      }
    }

    .footer-center {
      bottom: 5px;
      width: 100%;

      p {
        text-align: center;
        font-size: 9px;
      }
    }

    .footer-right {
      ul.footer-nav {
        li {
          margin: 0 8px;

          a.footer-social {
            img {
              width: 25px;
            }
          }
        }
      }
    }
  }
}

/**
 * Navigation Styles
 */
.main-navigation {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  z-index: 999;
  padding: 20px 80px;
  display: flex;
  align-items: center;
  transform: translateX(-50%);

  .navigation-logo-wrapper {
    display: block;

    figure.heading-logo-image {
      max-width: 50px;
    }
  }

  .navigation-list-wrapper {
    display: flex;
    margin-left: auto;

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        position: relative;
        text-align: center;

        &:last-of-type a.navLink span,
        &:last-of-type a.navLink:after {
          padding-right: 0;
        }

        a.navLink {
          position: relative;
          display: block;
          color: $main-white;
          font-weight: 600;
          font-size: 18px;
          overflow: hidden;

          &:after {
            content: attr(data-hover-text);
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            color: $main-black;
            padding: 0 20px;
            font-size: inherit;
            font-weight: 600;
            white-space: nowrap;
            transition: 400ms all ease;
          }

          span {
            position: relative;
            display: block;
            padding: 0 20px;
            transition: 400ms all ease;
          }

          &.current,
          &:hover {
            span {
              transform: translateY(-100%);
            }

            &:after {
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}

.mobile-nav-list {
  display: none;
  flex-flow: column;
  justify-content: center;
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(#fff, #00B8CE);
  padding: 90px 40px;
  transition: 500ms all ease;

  ul {
    display: flex;
    flex-flow: column;

    li {
      position: relative;
      list-style: none;
      padding: 20px 0;
      text-align: center;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 3px;
        background-color: orange;
        margin: 15px auto 0;
      }

      a {
        font-weight: 400;
        letter-spacing: 3px;
        font-size: 26px;
        color: $main-black;

        &.current {
          font-weight: 600;
        }
      }
    }
  }
}

/*
 * ==============================================
 *             HAMBURGER STYLE
 * ==============================================
 */

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  border: 2px solid $main-white;
  margin-left: auto;
  display: none;

  .hamburger-box {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;

    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px;
      left: 8px;

      &:before,
      &:after {
        content: "";
        display: block;
      }

      &:before {
        top: -10px;
      }

      &:after {
        bottom: -10px;
      }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      width: 25px;
      height: 2px;
      background-color: $main-white;
      border-radius: 3px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
  }

}

.hamburger.hamburger--elastic {
  .hamburger-box {

    .hamburger-inner {
      top: 12px;
      transition-duration: 0.275s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:before {
        top: 10px;
        transition: opacity 0.125s 0.275s ease;
      }

      &:after {
        top: 20px;
        transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }

  }

  &.mobile-active {
    .hamburger-box {
      .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(135deg);
        transition-delay: 0.075s;

        &:before {
          transition-delay: 0s;
          opacity: 0;
        }

        &:after {
          transform: translate3d(0, -20px, 0) rotate(-270deg);
          transition-delay: 0.075s;
        }
      }

    }
  }
}

@media (max-width: 575.98px) {
  .main-navigation {
    position: fixed;
    padding: 15px;
    height: 90px;

    .navigation-list-wrapper {
      display: none;
    }

    .navigation-logo-wrapper {
      padding: 0;

      figure.heading-logo-image {
        max-width: 40px;
      }
    }
  }

  .mobile-nav-list {
    display: flex;
    transform: translateY(-100%);

    &.mobile-active {
      transform: translateY(0);
    }
  }

  .hamburger {
    display: block;
  }
}

/**
 * Form Container Styles
 */
header.section-header,
section.section {
  .form-container {
    position: relative;
    padding: 0 20px;
    width: 100%;
    max-width: 520px;
    margin: 0 auto;

    .form-group {
      margin-bottom: 15px;
    }

    h2 {
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      text-align: center;
    }

    form {
      margin: 30px auto;

      .form-group {
        &.hidden {
          height: 0;
          margin: 0;

          input[type="text"] {
            background-color: #666;
            height: 0;
            padding: 0;
            margin: 0;
            border: none;
          }
        }

        &.radio-inputs {
          input[type="text"] { transition: 300ms background-color ease-in; }
        }

        &.shared-inputs {
          display: flex;
          justify-content: space-between;

          input[type="text"] {
            width: 45%;
          }
        }

        input[type="text"],
        input[type="email"],
        input[type="phone"],
        input[type="number"],
        textarea {
          padding: 10px 20px;
          font-size: 18px;
          letter-spacing: 1px;
          border-radius: 10px;
          width: 100%;
          background-color: #eee;
          background-image: none;
          border: 1px solid #222;
          resize: none;
          margin-bottom: 10px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
          -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

          &:focus {
            outline: 0 none;
          }
        }

        span {
          margin-right: 20px;
        }

        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 24px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #222;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #ddd;
            border-radius: 100%;
            background: #fff;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 12px;
            height: 12px;
            background: #00B8CE;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        input[type="submit"] {
          display: block;
          margin: 0 auto;
        }

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
          text-transform: uppercase;
          color: #aaa;
        }

        span#form-button {
          display: block;
          text-decoration: none;
          color: #4A86E8;
          background-color: #fff;
          text-align: center;
          max-width: 200px;
          border-radius: 40px;
          margin: 0 auto;
          padding: 15px 50px;
          border: 1px solid #4A86E8;
          letter-spacing: 3px;
          font-size: 16px;
          cursor: pointer;
          transition: 200ms all ease;

          &:hover {
            color: #fff;
            background-color: #4A86E8;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  header.section-header,
  section.section {
    .form-container {
      padding: 0 40px;

      h2 {
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;

        &:first-of-type {
          margin-bottom: 15px;
        }
      }

      form {
        margin: 15px auto;

        .form-group {
          margin-bottom: 10px;

          input[type="text"],
          input[type="email"],
          input[type="phone"],
          input[type="number"],
          textarea {
            padding: 6px 14px;
            font-size: 16px;
            letter-spacing: 1px;
            border-radius: 10px;
            margin-bottom: 0;
          }

          span#form-button {
            font-size: 14px;
            padding: 10px 20px;
            text-align: center;
          }
        }
      }
    }
  }
}

/**
 * Sprite Styles
 */

.taiwan-country {
  position: relative;

  .pge-animals {
    position: absolute;

    &.animal1 {
      top: 3%;
      left: 58%;
    }
    &.animal2 {
      top: 16%;
      left: 64%;
    }
    &.animal3 {
      top: 21%;
      left: 29%;
    }
    &.animal4 {
      top: 35%;
      left: 6%;
    }
    &.animal5 {
      top: 48%;
      left: 11%;
    }
    &.animal6 {
      top: 50%;
      left: 42%;
    }
    &.animal7 {
      top: 59%;
      left: 8%;
    }
    &.animal8 {
      top: 70%;
      left: 24%;
    }
  }
}

.sprite-img {
  background-repeat: no-repeat;

  &.pge-animal-sprite {
    width: 33.82%;
    height: 18.65%;
    background-size: 400%;
    background-image: url(/images/pge-animal-sprite.png);

    &.animal1 { background-position: 0% 0%; }
    &.animal2 { background-position: 33.333% 0%; }
    &.animal3 { background-position: 66.666% 0%; }
    &.animal4 { background-position: 100% 0%; }
    &.animal5 { background-position: 0% 100%; }
    &.animal6 { background-position: 33.333% 100%; }
    &.animal7 { background-position: 66.666% 100%; }
    &.animal8 { background-position: 100% 100%; }
  }

  &.pge-powerplant-sprite {
    background-size: 800%;
    background-image: url(/images/pge-powerplant-sprite.png);

    &.pge-power-on1 { background-position: 0% 0%; }
    &.pge-power-on2 { background-position: 14.35% 0%; }
    &.pge-power-on3 { background-position: 28.7% 0%; }
    &.pge-power-on4 { background-position: 43.05% 0%; }
    &.pge-power-off1 { background-position: 57.4% 0%; }
    &.pge-power-off2 { background-position: 71.75% 0%; }
    &.pge-power-off3 { background-position: 86.1% 0%; }
    &.pge-power-off4 { background-position: 100% 0%; }
  }

  &.pge-wave-sprite {
    width: 122px;
    height: 10px;
    background-size: 400%;
    background-image: url(/images/pge-wave-sprite.png);

    &#pge-wave1 { background-position: 0% 0%; }
    &#pge-wave2 { background-position: 33.333% 0%; }
    &#pge-wave3 { background-position: 66.666% 0%; }
    &#pge-wave4 { background-position: 100% 0%; }
    &#pge-wave5 { background-position: 0% 0%; }
    &#pge-wave6 { background-position: 33.333% 0%; }
    &#pge-wave7 { background-position: 66.666% 0%; }
    &#pge-wave8 { background-position: 100% 0%; }
  }

  &.pge-ship-sprite {
    width: 120px;
    height: 43px;
    background-size: 200%;
    background-image: url(/images/pge-ship-sprite.png);

    &#pge-ship-img-l1 { background-position: 0% 0%; }
    &#pge-ship-img-l2 { background-position: 0% 100%; }
    &#pge-ship-img-r1 { background-position: 100% 0%; }
    &#pge-ship-img-r2 { background-position: 100% 100%; }
    &#pge-ship-img-r3 { background-position: 0% 0%; }
  }

  &.pge-commodity-sprite {
    height: 80px;
    width: 80px;
    background-size: 200%;
    background-image: url(/images/pge-commodity-sprite.png);
    background-position: 0% 0%;
  }

  &.pge-people-sprite {
    width: 190px;
    height: 402px;
    background-size: 500%;
    background-image: url(/images/pge-people-sprite.png);

    &#pge-people1 { background-position: 0% 0%; }
    &#pge-people2 { background-position: 25% 0%; }
    &#pge-people3 { background-position: 50% 0%; }
    &#pge-people4 { background-position: 75% 0%; }
    &#pge-people5 { background-position: 100% 0%; }
  }

  &.pge-city-panel-sprite {
    width: 100%;
    height: 40.82%;
    background-size: 800%;
    background-image: url(/images/pge-city-panel-sprite.png);

    &.city-panel1 { background-position: 0% 0%; }
    &.city-panel2 { background-position: 14.285% 0%; }
    &.city-panel3 { background-position: 28.57% 0%; }
    &.city-panel4 { background-position: 42.855% 0%; }
    &.city-panel5 { background-position: 57.14% 0%; }
    &.city-panel6 { background-position: 71.425% 0%; }
    &.city-panel7 { background-position: 85.71% 0%; }
    &.city-panel8 { background-position: 100% 0%; }
    &.city-panel9 { background-position: 0% 100%; }
    &.city-panel10 { background-position: 14.285% 100%; }
    &.city-panel11 { background-position: 28.57% 100%; }
    &.city-panel12 { background-position: 42.855% 100%; }
    &.city-panel13 { background-position: 57.14% 100%; }
    &.city-panel14 { background-position: 71.425% 100%; }
  }

  &.pge-mobile-panel-sprite {
    width: 27%;
    height: 90%;
    background-size: 400%;
    background-image: url(/images/pge-mobile-panel-sprite.png);

    &.mobile-panel1 { background-position: 0% 0%; }
    &.mobile-panel2 { background-position: 33.333% 0%; }
    &.mobile-panel3 { background-position: 66.666% 0%; }
    &.mobile-panel4 { background-position: 100% 0%; }
    &.mobile-panel5 { background-position: 0% 100%; }
    &.mobile-panel6 { background-position: 33.333% 100%; }
    &.mobile-panel7 { background-position: 66.666% 100%; }
    &.mobile-panel8 { background-position: 100% 100%; }
  }
}
