@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

$noto-reg: 'Noto Sans TC';
$main-white: #ffffff;
$main-black: #222;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  width: 100%;
  font-family: $noto-reg;
  font-weight: 400;
  color: $main-black;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
}

.flex-display {
  display: flex;

  &.position-center {
    align-items: center;
    justify-content: center;
  }

  &.space-around {
    align-items: center;
    justify-content: space-around;
  }

  &.direction-column {
    flex-direction: column;
  }
}

span.br {
  content: ' ';
  display: block;
}

span.br-mobile {
  content: ' ';
  display: inline-block;
  margin: 0 3px;
}

span.br-flex-mobile {
  flex: 1 0 0%;
}

@media (max-width: 575.98px) {
  span.br-flex-mobile {
    flex: 1 0 100%;
  }
}

@media (max-width: 768px) {
  span.br {
    display: inline-block;
    margin: 0 5px;
  }

  span.br-mobile {
    content: ' ';
    display: block;
  }
}

@media (min-width: 768px) {
  .row-eq-height.sm-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

@media (min-width: 992px) {
  .row-eq-height.md-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

/**
 * Text styles
 */

h1, h2, h3, p, span {
  font-family: $noto-reg;
}

h1 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .2s all;
}

h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.align-left {
    text-align: left;
  }
}

p {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 170%;
  text-align: left;
}

/**
 * Button styles
 */

a.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: .2s all ease;

  &.button-grey {
    background-color: #eee;
    color: $main-black;
    border-color: #eee;
  }
}

/**
 * Image/Icon styles
 */

figure {
  img {
    width: 100%;
    vertical-align: bottom;
  }
}

/**
 * Section Styles
 */
section.section {
  position: relative;

  .chevron-container {
    position: absolute;
    display: block;
    background-color: transparent;
    height: 40px;
    width: 40px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    .chevron {
      display: flex;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      transform: rotate(45deg);
      animation: bouncing .5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(.5, .05, 1, .5);

      &.right {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &.left {
        left: 50%;
        transform: translate(-50%, -50%) rotate(-225deg);
      }
    }
  }
}

@keyframes bouncing {
  from { transform: translate3d(0, 0, 0) rotate(45deg); }
  to { transform: translate3d(0, 8px, 0) rotate(45deg); }
}
