@import 'global';

body { overflow-x: hidden; }

section.section {
  .sticky-container {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 100vh;

  }

  .stickyContainer {
  }

  .fixed-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
  }

  .act-view-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &.hide-overflow { overflow: hidden; }
  }
}

section.section.scene-one {
  .hero-container {
    position: fixed;
    width: 100%;
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .hero-text {
      max-width: 340px;

      h1 {
        margin-bottom: 40px;
      }

      h2 {}
    }

    figure.hero-logo {
      max-width: 170px;
      margin-right: 60px;
    }
  }

  .full-width-hero {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .full-height-hero {
    position: relative;
    height: 100vh;

    img {
      height: 100vh;
      width: auto;
    }
  }

  .full-width-placeholder {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
  }

  .full-height-placeholder {
    position: relative;
    height: 100vh;
  }

  .scene-one-container {
    .container-padding {
      height: 100%;
      padding: 20px;
    }

    .cloud-container {
      position: absolute;
      height: 80%;
      width: 100%;
      top: 10%;
      z-index: 2;

      .pge-cloud-img {
        width: 100%;
        height: 100%;

        img { height: 100%; }
      }

      .cloud-left {
        transform: translateX(-5%);
      }

      .cloud-right {
        position: absolute;
        bottom: 0;
        transform: translateX(5%);
      }
    }

    .center-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0;
    }

    .taiwan-container {
      z-index: 1;
      opacity: 0;
      width: 100%;

      .taiwan-country {
        position: relative;
        transform: scale(.33);
        max-width: 285px;
        margin: 0 auto;

        .pge-taiwan-img {

        }

        .pge-animals {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;

          img {
            width: 100%;
          }
        }

        .pge-powerplants {
          position: absolute;
          width: 80px;
          opacity: 0;

          &#pge-power1 {
            top: 25px;
            left: 195px;
          }

          &#pge-power2 {
            top: 100px;
            left: 75px;
          }

          &#pge-power3 {
            top: 200px;
            left: 20px;
          }

          &#pge-power4 {
            top: 305px;
            left: 50px;
          }

          &#pge-power5 {
            top: 215px;
            left: 110px;
          }
        }
      }

      .ocean-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }

      .pge-ship {
        position: absolute;
        width: 120px;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-timing-function: ease;

        &#pge-ship-img-l1 {
          top: 20%;
          left: 15%;
          animation-name: shipMovementOne;
          animation-duration: 8s;
        }

        &#pge-ship-img-l2 {
          top: 60%;
          left: 10%;
          animation-name: shipMovementTwo;
          animation-duration: 12s;
        }

        &#pge-ship-img-r1 {
          top: 10%;
          right: 15%;
          animation-name: shipMovementThree;
          animation-duration: 6s;
        }

        &#pge-ship-img-r2 {
          top: 30%;
          right: 20%;
          animation-name: shipMovementFour;
          animation-duration: 8s;
        }

        &#pge-ship-img-r3 {
          top: 70%;
          right: 10%;
          animation-name: shipMovementFive;
          animation-duration: 7s;
        }

        img { width: 100%; }
      }
    }
  }

  .scene-one-scrollarea {
    .taiwan-intro-scene {
      height: 50vh;
    }

    .taiwan-zoom-scene {
      height: 100vh;
    }

    .ocean-intro-scene {
      height: 50vh;
    }

    .pollution-scene {
      height: 150vh;
    }

  }
}

section.section.scene-two {
  .pge-sun {
    position: absolute;
    top: 20px;
    right: 10%;
    min-width: 250px;

    img {
      animation-name: sunRotate;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-duration: 60s;
      animation-timing-function: linear;
    }
  }

  .city-text-container {
    position: absolute;
    top: 10%;
    right: 10%;
    padding: 5px 15px;
    border: 1px solid #222;
    background-color: #fff;
    border-radius: 6px;
    z-index: 5;
    max-width: 320px;
    opacity: 0;

    p {
      font-size: 18px;
      letter-spacing: 1px;
      text-align: center;
      color: #444;
    }
  }

  .skyline-container {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 1400px;
    width: 100%;

    .taipei-skyline {
      .pge-taipei-skyline {
        position: absolute;
        width: 100%;
        bottom: 0;

        img { vertical-align: bottom; }

        &#pge-smog1 {
          position: relative;
          z-index: 1;
        }

        &#pge-smog2 { z-index: 3; }
        &#pge-smog3 { z-index: 5; }
        &#pge-smog4 { z-index: 7; }
        &#pge-city1 { z-index: 2; }
        &#pge-city2 { z-index: 4; }
        &#pge-city3 { z-index: 6; }
      }
    }

    .taipei-solar-panels {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .pge-city-panels {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 8;
        opacity: 0;
      }
    }
  }

  .mobile-panels-container {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .hand-phone-container {
      position: relative;
      width: 100%;

      figure.mobile-hand-phone {
        width: 100%;
      }

      .phone-progress-container {
        position: absolute;
        left: 37%;
        bottom: 9.3%;
        width: 24%;
        height: 30px;
        border: 3px solid #000;
        border-radius: 10px;

        p {
          position: absolute;
          right: -25px;
          top: -55px;
          color: #37B6FF;
          text-transform: uppercase;
          font-size: 24px;
          line-height: 65%;
          font-weight: 500;
          display: inline-block;

          &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid #37B6FF;
            margin: 7px auto 0;
          }

          span {
            font-size: 12px;
          }
        }

        .phone-progress {
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 7px;
          overflow: hidden;
          padding: 1%;

          .progress-container {
            width: 100%;
            height: 100%;
            border-radius: 7px;
            overflow: hidden;

            &:before {
              content: '';
              position: absolute;
              z-index: 5;
              top: 50%;
              right: 3%;
              height: 80%;
              transform: translateY(-50%);
              border-left: 3px dotted #000;
            }

            .progress-bar {
              background-color: #37b6ff;
              width: 100%;
              height: 100%;
              border-radius: 7px;
            }
          }
        }
      }

      .taipei-mobile-panels {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .pge-mobile-panels {
          position: absolute;
          width: 22%;
          left: 36.8%;
          top: 13%;
          opacity: 0;
        }
      }

      .taipei-mobile-plants {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .pge-mobile-powerplants {
          position: absolute;
          width: 60px;
          opacity: 1;

          &#pge-mobile-power1 {
            top: 18%;
            left: 52%;
          }

          &#pge-mobile-power2 {
            top: 27%;
            left: 44%;
          }

          &#pge-mobile-power3 {
            top: 42%;
            left: 39%;
          }

          &#pge-mobile-power4 {
            top: 55%;
            left: 40%;
          }

          &#pge-mobile-power5 {
            top: 45%;
            left: 45%;
          }
        }
      }
    }
  }

  .scene-two-scrollarea {
    .taipei-intro-scene {
      height: 50vh;
    }

    .sunrise-scene {
      height: 100vh;
    }

    .city-panels-scene {
      height: 100vh;
    }

    .mobile-phone-scene {
      height: 100vh;
    }

    .mobile-panels-scene {
      height: 100vh;
    }

    .buffer-scene {
      height: 100vh;
    }
  }
}

.debugscroll {
  height: 1500px;
  background-color: #104040;
  opacity: .3;
}

@keyframes shipMovementOne {
  0%, 100% { transform: translateX(-50px) rotateY(180deg); }
  40% { transform: translateX(50px) rotateY(180deg); }
  50% { transform: translateX(50px) rotateY(0deg); }
  90% { transform: translateX(-50px) rotateY(0deg); }
}

@keyframes shipMovementTwo {
  0%, 100% { transform: translateX(30px) rotateY(0deg); }
  40% { transform: translateX(-30px) rotateY(0deg); }
  50% { transform: translateX(-30px) rotateY(180deg); }
  90% { transform: translateX(30px) rotateY(180deg); }
}

@keyframes shipMovementThree {
  0%, 100% { transform: translateX(-20px) rotateY(180deg); }
  40% { transform: translateX(20px) rotateY(180deg); }
  50% { transform: translateX(20px) rotateY(0deg); }
  90% { transform: translateX(-20px) rotateY(0deg); }
}

@keyframes shipMovementFour {
  0%, 100% { transform: translateX(-40px) rotateY(180deg); }
  40% { transform: translateX(40px) rotateY(180deg); }
  50% { transform: translateX(40px) rotateY(0deg); }
  90% { transform: translateX(-40px) rotateY(0deg); }
}

@keyframes shipMovementFive {
  0%, 100% { transform: translateX(50px) rotateY(0deg); }
  40% { transform: translateX(-50px) rotateY(0deg); }
  50% { transform: translateX(-50px) rotateY(180deg); }
  90% { transform: translateX(50px) rotateY(180deg); }
}

@keyframes sunRotate {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}
