@import 'global';

header.section-header {
  .hero-content {
    left: 70%;

    h1 {
      position: relative;
      line-height: 1.4;
      font-size: 50px;
      white-space: nowrap;

      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 1200px;
        width: 1200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: radial-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0) 40%);
        z-index: -1;
      }

      span {
        font-size: 28px;
        margin-bottom: 5px;
        display: block;
        letter-spacing: 1px;
      }
    }
  }
}

section.section {
  h1.underline {
    display: inline-block;
    &:after {
      margin-left: 0;
      margin-right: 0;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 300;
  }

  .section-content {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    .content-wrapper {
      display: flex;
      flex-flow: column wrap;
      flex: 0 0 50%;
      align-items: center;
      justify-content: center;

      .content-text {
        h1.underline {
          margin-bottom: 30px;
          font-size: 42px;

          &:after {
            width: 120px;
          }
        }
      }
    }
  }

  &.about-section-one {
    background: rgb(229, 229, 229);

    .section-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 20px;
    }

    figure.about-smog {
      position: relative;
      padding-top: 100px;
    }

    .content-text {
      margin-left: 8%;
      padding: 0 20px;

      p {
        max-width: 580px;
        text-align: justify;
      }

      a.btn-green {
        margin-top: 20px;
      }
    }

    .content-media {
      position: relative;
      height: 100%;
      width: 100%;

      .powerplant-wrapper {
        position: absolute;

        &#pge-power1 {
          top: 10%;
          left: 0%;
          width: 35%;
        }

        &#pge-power2 {
          top: 10%;
          left: 19%;
          width: 42%;
          z-index: 2;
        }

        &#pge-power3 {
          top: 11%;
          left: 42%;
          width: 50%;
          z-index: 3;
        }

        .powerplants {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          &.powerplant-off {
            position: relative;
            opacity: 1;
            z-index: 1;
          }

          &.powerplant-on {
            opacity: 0;
            z-index: 2;
          }
        }
      }

    }
  }

  &.about-section-two {
    .section-content {
      background: radial-gradient(#fff, #00B8CE);
      padding: 80px 20px;
    }

    .content-text {
      align-self: flex-start;
      padding: 0 25px;

      .founder-profiles {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 50px;

        .profile-container {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          flex: 0 1 45%;

          &.profile-one {
            margin-right: 10%;
          }
        }

        figure {
          display: block;
          background-color: #aaa;
          border-radius: 50%;
          margin-bottom: 20px;
        }

        p {
          text-align: center;
          margin-bottom: 7px;
          font-weight: 600;

          &.profile-name {
            font-size: 22px;
            letter-spacing: 3px;
          }
        }
      }
    }

    .content-media {
      display: flex;
      align-items: center;
      justify-content: center;

      .taiwan-country {
        max-width: 350px;
      }
    }

  }
}

@media (max-width: 991px) {
  section.section.about-section-one {
    figure.about-smog {
      width: 125%;
      padding-top: 150px;
    }

    .content-media .powerplant-wrapper {
      &#pge-power1 {
        top: 25%;
        width: 30%;
      }

      &#pge-power2 {
        top: 21%;
        width: 38%;
      }

      &#pge-power3 {
        top: 17%;
      }
    }
  }
}

@media (max-width: 768px) {
  header.section-header {
    .aspect-hero {
      width: 200%;
    }

    .hero-content {
      left: 50%;
    }
  }

  section.section {
    .section-content {
      flex-flow: column nowrap;
      padding: 40px 20px;

      .content-wrapper {
        .content-text h1.underline {
          font-size: 32px;
        }
      }
    }

    &.about-section-one {
      .section-content {
        padding: 40px 20px;

        .content-wrapper:first-of-type {
          order: 1;
        }
      }

      .content-text {
        margin-left: 0;

        p {
          font-size: 15px;
        }
      }

      figure.about-smog {
        width: 250%;
        margin-left: -40%;
        padding-top: 0;
      }

      .content-media {
        .powerplant-wrapper {
          &#pge-power1 {
            top: 3%;
            left: 12%;
            width: 25%;
          }

          &#pge-power2 {
            top: -2%;
            left: 28%;
            width: 32%;
          }

          &#pge-power3 {
            top: -5%;
            left: 49%;
            width: 40%;
          }
        }
      }
    }

    &.about-section-two {
      .section-content {
        padding: 40px 20px;
      }

      .content-media {
        margin-bottom: 40px;

        .taiwan-country {
          width: 60%;
        }
      }

      .content-text {
        p {
          font-weight: 400;
        }

        .founder-profiles {
          margin-top: 50px;

          .profile-container {
          }

          figure {
          }

          p {
            &.profile-name {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  header.section-header {
    .aspect-hero {
      width: 318%;
      left: -10%;
    }

    .hero-content {
      left: 50%;

      h1 {
        font-size: 32px;
        span { font-size: 24px; }
      }
    }
  }

  section.section {
    .section-content {
      flex-flow: column nowrap;
      padding: 40px 20px;

      .content-wrapper {
        .content-text h1.underline {
          font-size: 32px;
        }
      }
    }

    &.about-section-one {
      .section-content {
        padding: 40px 20px;

        .content-wrapper:last-of-type {
          flex: 0 0 40%;
        }
      }

      .content-text {
        margin-left: 0;
        padding: 0;

        p {
          font-size: 14px;
        }
      }

      figure.about-smog {
        width: 420%;
        margin-left: -40%;
        padding-top: 50px;
      }

      .content-media {
        .powerplant-wrapper {
          &#pge-power1 {
            top: 13%;
            left: 3%;
            width: 30%;
          }

          &#pge-power2 {
            top: 12%;
            left: 22%;
            width: 37%;
          }

          &#pge-power3 {
            top: 10%;
            left: 49%;
            width: 45%;
          }
        }
      }
    }

    &.about-section-two {
      .section-content {
        padding: 40px 20px 80px 20px;
      }

      .content-text {
        padding: 0;
      }

      .content-media {
        margin-bottom: 40px;

        .taiwan-country {
          width: 60%;
        }
      }

      .content-text {
        p {
          font-size: 14px;
        }

        .founder-profiles {
          margin-top: 50px;

          p {
            &.profile-name {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
