@import 'global';

.wrapper {
  overflow-x: hidden;

  .support-container {
    position: fixed;
    z-index: 20;
    bottom: 3%;
    left: 3%;
    width: 216px;
    opacity: 0;

    span {
      display: block;
      text-decoration: none;
      color: #4A86E8;
      background-color: #fff;
      border-radius: 40px;
      padding: 15px 50px;
      border: 1px solid #4A86E8;
      letter-spacing: 3px;
      font-size: 16px;
      cursor: pointer;
      transition: 200ms all ease;

      &:hover {
        color: #fff;
        background-color: #4A86E8;
      }
    }
  }

  .chevron-container {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }

  .chevron-border {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .chevron {
      position: relative;
      top: -5px;
      transform: rotate(135deg);
      border-style: solid;
      border-width: 4px 4px 0 0;
      border-color: $main-black;
      vertical-align: top;
      width: 40px;
      height: 40px;

      &.bounce {
        animation: bouncing .5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.5, .05, 1, .5);
      }
    }
  }
}

section.section {
  .sticky-container {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    &.activated {
      position: fixed;
    }
  }

  .act-view-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

section.section.story-board {
  .hero-container {
    position: fixed;
    width: 100%;
  }

  .scene-one-background {
    background: radial-gradient(#fff, #00B8CE);
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 550px;
    z-index: 3;

    .hero-text {
      width: 370px;

      h1 {
        margin-bottom: 20px;
      }

      h2 {
      }
    }

    figure.hero-logo {
      margin-bottom: 40px;
      max-width: 170px;
    }
  }

  .full-width-hero {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .full-height-hero {
    position: relative;
    height: 100vh;
    background-image: url(/images/home/PGE-landing.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.45);
    }
  }

  .full-width-placeholder {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
  }

  .full-height-placeholder {
    position: relative;
    height: 100vh;
  }

  .act-one-container {
    .container-padding {
      height: 100%;
      padding: 20px;
    }

    .cloud-container {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 2;

      &.kill-clouds {
        display: none;
      }

      .pge-cloud-img {
        position: absolute;
        width: 100%;
        height: auto;
        max-width: 1200px;
        top: 50%;

        &.cloud-right {
          right: 0;
        }

        &.cloud-left {
          left: 0;
        }

        img { height: 100%; }
      }
    }

    .center-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .logo-container {
      z-index: 2;
      opacity: 0;
      width: 100%;

      .pge-logo-img {
        max-width: 240px;
        margin: 0 auto 20px;
      }
    }

    .taiwan-container {
      z-index: 2;
      opacity: 0;
      width: 100%;

      .taiwan-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: row;

        &:before {
          content: '';
          display: block;
          max-width: 370px;
          width: 370px;
        }

        h2 {
          position: absolute;
          top: -96px;
          right: -20px;
          transform: translateX(100%);
          text-align: center;
        }
      }

      .taiwan-country {
        position: relative;
        transform: scale(.33);
        max-width: 370px;
        margin: 0 auto;

        .pge-taiwan-img {

        }

        .pge-animals {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;

          img {
            width: 100%;
          }
        }

        .pge-powerplants {
          position: absolute;
          width: 80px;

          &.pge-power1 {
            top: 12%;
            left: 66%;
          }

          &.pge-power2 {
            top: 22%;
            left: 29%;
          }

          &.pge-power3 {
            top: 36%;
            left: 12%;
          }

          &.pge-power4 {
            top: 52%;
            left: 46%;
          }

          &.pge-power5 {
            top: 60%;
            left: 12%;
          }
        }
      }

      .ocean-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: flex;
        flex-flow: row;

        .waves-container {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;

          .pge-wave {
            position: absolute;
            width: 80px;

            &#pge-wave1 { top: 13%; left: 20%; }
            &#pge-wave2 { top: 73%; left: 10%; }
            &#pge-wave3 { top: 30%; left: 12%; }
            &#pge-wave4 { top: 90%; left: 18%; }
            &#pge-wave5 { top: 23%; left: 90%; }
            &#pge-wave6 { top: 40%; left: 75%; }
            &#pge-wave7 { top: 57%; left: 68%; }
            &#pge-wave8 { top: 80%; left: 72%; }
          }
        }

        .taiwan-placehold {
          height: 100%;
          max-width: 370px;
          width: 100%;
        }

        .ocean-partition {
          position: relative;
          flex-grow: 1;
        }

        .ocean-text-container {
          position: absolute;
          width: 240px;
          top: 45%;
          left: 50%;
          transform: translateX(-50%);
        }

        .whale-container {
          position: absolute;
          width: 100px;
          top: 50%;
          right: 20%;

          .pge-whale {
            position: absolute;
            width: 100%;
            height: 100%;
            animation-iteration-count: infinite;
            animation-direction: normal;
            animation-timing-function: ease;

            &#pge-whale-1 {
              // animation-name: whaleFadeOne;
              // animation-duration: 8s;
            }

            &#pge-whale-2 {
              animation-name: whaleFadeTwo;
              animation-duration: 8s;
              display: none;
            }

            &#pge-whale-3 {
              animation-name: whaleFadeThree;
              animation-duration: 8s;
              display: none;
            }
          }
        }

        .pge-ship {
          position: absolute;
          width: 120px;
          animation-iteration-count: infinite;
          animation-direction: normal;
          animation-timing-function: ease;

          &#pge-ship-img-l1 {
            top: 20%;
            animation-name: shipMovementOne;
            animation-duration: 8s;
          }

          &#pge-ship-img-l2 {
            top: 80%;
            animation-name: shipMovementTwo;
            animation-duration: 12s;
          }

          &#pge-ship-img-r1 {
            top: 10%;
            animation-name: shipMovementThree;
            animation-duration: 10s;
          }

          &#pge-ship-img-r2 {
            top: 30%;
            animation-name: shipMovementFour;
            animation-duration: 8s;
          }

          &#pge-ship-img-r3 {
            top: 70%;
            animation-name: shipMovementFive;
            animation-duration: 12s;
          }

          img { width: 100%; }
        }
      }
    }
  }

  .act-two-container {
    z-index: 2;

    .scene-two-background {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      z-index: 1;
      background: linear-gradient(#005D5A, #257A77);
    }

    .skyline-text-container {
      position: absolute;
      top: 15%;
      left: 4%;
      max-width: 300px;
      z-index: 20;
    }

    .taipei-sky-elements {
      position: absolute;
      width: 100%;
      height: 100vh;
      z-index: 3;

      .pge-sun {
        position: absolute;
        top: 6%;
        right: 15%;
        max-width: 200px;
        z-index: 3;

        img {
          animation-name: sunRotate;
          animation-iteration-count: infinite;
          animation-direction: normal;
          animation-duration: 60s;
          animation-timing-function: linear;
        }
      }

      .pge-moon {
        position: absolute;
        top: 7%;
        right: 15%;
        min-width: 150px;
        z-index: 3;
      }

      .pge-skyline-clouds {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        z-index: 2;
      }
    }

    .night-text-container {
      position: absolute;
      top: 15%;
      left: 4%;
      z-index: 5;
      max-width: 320px;
      opacity: 0;
      color: #fff;
    }

    .skyline-container {
      position: absolute;
      bottom: 0;
      left: 0;
      min-width: 1400px;
      width: 100%;
      z-index: 4;

      .taipei-skyline {
        .taipei-night-skyline {
          position: relative;
        }

        .taipei-day-skyline {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        .pge-day-skyline,
        .pge-night-skyline {
          position: absolute;
          width: 100%;
          bottom: 0;

          img { vertical-align: bottom; }

          &#pge-night-sky1 {
            opacity: 0;
            visibility: hidden;
          }

          &#pge-day-sky1,
          &#pge-night-sky1 {
            position: relative;
            z-index: 4;
          }

          &#pge-day-sky2, &#pge-night-sky2 { z-index: 5; }
          &#pge-day-sky3, &#pge-night-sky3 { z-index: 6; }
          &#pge-day-sky4, &#pge-night-sky4 { z-index: 7; }
          &#pge-day-sky5, &#pge-night-sky5 { z-index: 8; }
          &#pge-day-sky6, &#pge-night-sky6 { z-index: 9; }
          &#pge-day-sky7, &#pge-night-sky7 { z-index: 10; }
          &#pge-day-sky8, &#pge-night-sky8 { z-index: 11; }
        }
      }

      .taipei-solar-panels {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 12;

        .pge-city-panels {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          opacity: 0;
        }
      }
    }

    .mobile-phone-overlay {
      z-index: 13;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .8));
      opacity: 0;
      visibility: hidden;
    }

    .mobile-panels-container {
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 15;
      opacity: 0;
      visibility: hidden;

      .hand-phone-container {
        position: relative;
        width: 100%;

        figure.mobile-hand-phone {
          width: 100%;
        }

        .phone-progress-container {
          position: absolute;
          left: 49%;
          bottom: 8%;
          transform: translateX(-50%);
          width: 23%;
          height: 30px;
          border: 3px solid #000;
          border-radius: 10px;

          p {
            position: absolute;
            display: inline-block;
            right: -13px;
            top: -75px;
            text-transform: uppercase;
            font-size: 30px;
            line-height: 65%;
            font-weight: 500;
            text-align: center;

            &:after {
              content: '';
              display: block;
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid #222;
              margin: 10px auto 0;
              position: relative;
              left: 20px;
            }

            span {
              font-size: 12px;
            }
          }

          .phone-progress {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 7px;
            overflow: hidden;
            padding: 1%;

            .progress-container {
              width: 100%;
              height: 100%;
              border-radius: 7px;
              overflow: hidden;

              &:before {
                content: '';
                position: absolute;
                z-index: 5;
                top: 50%;
                right: 3%;
                height: 80%;
                transform: translateY(-50%);
                border-left: 3px dotted #000;
              }

              .progress-bar {
                background-color: #37b6ff;
                width: 100%;
                height: 100%;
                border-radius: 7px;
              }
            }
          }
        }

        .taipei-mobile-panels {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .pge-mobile-panels {
            position: absolute;
            width: 27%;
            left: 35%;
            top: 5%;
            opacity: 0;
          }
        }

        .taipei-mobile-plants {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .pge-mobile-powerplants {
            position: absolute;
            width: 60px;
            opacity: 1;

            &#pge-mobile-power1 {
              top: 21%;
              left: 51%;
            }

            &#pge-mobile-power2 {
              top: 28%;
              left: 44%;
            }

            &#pge-mobile-power3 {
              top: 44%;
              left: 40%;
            }

            &#pge-mobile-power4 {
              top: 56%;
              left: 41%;
            }

            &#pge-mobile-power5 {
              top: 46%;
              left: 47%;
            }
          }
        }
      }
    }

    .people-scene-container {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100vh;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-flow: column;

      .people-text-container {
        margin: auto 0;
        padding-top: 60px;

        h1 {
          text-align: center;
        }
      }

      .people-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .pge-people {
          max-width: 190px;
        }
      }
    }

    .form-scene-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 30;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;

      .full-height-hero {
        position: absolute;
        width: 100%;
        z-index: -1;
      }

      .form-container {
        padding: 0 20px;
        width: 100%;

        .form-group {
          margin-bottom: 15px;
        }

        h1 {
          text-align: center;
        }

        form {
          max-width: 520px;
          margin: 30px auto;

          .form-group {
            input[type="text"],
            input[type="email"],
            input[type="phone"],
            input[type="number"],
            textarea {
              padding: 10px 20px;
              font-size: 18px;
              letter-spacing: 1px;
              border-radius: 10px;
              width: 100%;
              background-color: #eee;
              background-image: none;
              border: 1px solid #222;
              resize: none;
              margin-bottom: 10px;
              -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
              -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
              -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
              transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

              &:focus {
                outline: 0 none;
              }
            }

            span {
              margin-right: 20px;
            }

            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-left: 24px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: #222;
            }
            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #00B8CE;
                position: absolute;
                top: 3px;
                left: 3px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

            input[type="submit"] {
              display: block;
              margin: 0 auto;
            }

            input::-webkit-input-placeholder,
            textarea::-webkit-input-placeholder {
              text-transform: uppercase;
              color: #aaa;
            }
          }
        }
      }
    }
  }

  .scene-one-scrollarea {
    .cloud-split-scene {
      height: 200vh;
    }

    .logo-fade-in-scene {
      height: 200vh;
    }

    .logo-fade-out-scene {
      height: 200vh;
    }

    .taiwan-intro-scene {
      height: 200vh;
    }

    .taiwan-zoom-scene {
      height: 200vh;
    }

    .ocean-intro-scene {
      height: 200vh;
    }

    .pollution-scene {
      height: 200vh;
    }

    .kill-clouds-scene {
      height: 5vh;
    }

    .outro-scene {
      height: 100vh;
    }
  }

  .scene-two-scrollarea {
    .smog-enter-scene {
      height: 300vh;
    }

    .night-cloud-intro-scene {
      height: 100vh;
    }

    .night-text-scene {
      height: 20vh;
    }

    .skyline-enter-scene {
      height: 300vh;
    }

    .night-skyline-scene {
      height: 150vh;
    }

    .city-panels-scene {
      height: 300vh;
    }

    .day-skyline-scene {
      height: 200vh;
    }

    .smog-fade-scene {
      height: 200vh;
    }

    .mobile-phone-scene {
      height: 200vh;
    }

    .mobile-power-scene {
      height: 200vh;
    }

    .mobile-panels-scene {
      height: 300vh;
    }

    .city-exit-scene {
      height: 200vh;
    }

    .people-popup-scene {
      height: 200vh;
    }

    .people-popup-delay {
      height: 100vh;
    }

    .form-intro-scene {
      height: 150vh;
    }

    .outro-scene {
      height: 100vh;
    }
  }
}

@keyframes bouncing {
  from { transform: translate3d(0, 0, 0) rotate(135deg); }
  to { transform: translate3d(0, 5px, 0) rotate(135deg); }
}

@keyframes shipMovementOne {
  0%, 100% { left: 10%; transform: rotateY(0deg); }
  40% { left: 70%; transform: rotateY(0deg); }
  50% { left: 70%; transform: rotateY(180deg); }
  90% { left: 10%; transform: rotateY(180deg); }
}

@keyframes shipMovementTwo {
  0%, 100% { left: 80%; transform: rotateY(0deg); }
  40% { left: 10%; transform: rotateY(0deg); }
  50% { left: 10%; transform: rotateY(180deg); }
  90% { left: 80%; transform: rotateY(180deg); }
}

@keyframes shipMovementThree {
  0%, 100% { right: 10%; transform: rotateY(180deg); }
  40% { right: 50%; transform: rotateY(180deg); }
  50% { right: 50%; transform: rotateY(0deg); }
  90% { right: 10%; transform: rotateY(0deg); }
}

@keyframes shipMovementFour {
  0%, 100% { right: 10%; transform: rotateY(180deg); }
  40% { right: 70%; transform: rotateY(180deg); }
  50% { right: 70%; transform: rotateY(0deg); }
  90% { right: 10%; transform: rotateY(0deg); }
}

@keyframes shipMovementFive {
  0%, 100% { right: 80%; transform: rotateY(0deg); }
  40% { right: 10%; transform: rotateY(0deg); }
  50% { right: 10%; transform: rotateY(180deg); }
  90% { right: 80%; transform: rotateY(180deg); }
}

@keyframes whaleFadeOne {
  0%, 100% { opacity: 1; }
  33% { opacity: 1; }
  66% { opacity: 0; }
  75% { opacity: 0; }
}

@keyframes whaleFadeTwo {
  0%, 100% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
}

@keyframes whaleFadeThree {
  0%, 100% { opacity: 0; }
  33% { opacity: 0; }
  66% { opacity: 0; }
  75% { opacity: 1; }
}

@keyframes sunRotate {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }

  p {
    font-size: 16px;
  }

  .wrapper {
    .support-container {
      width: 170px;

      span {
        font-size: 14px;
        padding: 10px 20px;
        text-align: center;

        &:hover {
          color: #4A86E8;
          background-color: #fff;
        }
      }
    }

    .chevron-container {
      bottom: 3%;
    }
  }

  section.section.story-board {
    .hero-content {
      top: 45%;

      .hero-text {
        max-width: 340px;

        h1 {
          margin-bottom: 10px;
        }
      }

      figure.hero-logo {
        margin-bottom: 20px;
      }
    }

    .act-one-container {
      .container-padding {
      }

      .cloud-container {
        height: 100%;
        width: 100%;

        .pge-cloud-img {
          width: 250%;
          left: -75%;
        }
      }

      .logo-container {
        .pge-logo-img {
          max-width: 150px;
          margin: 0 auto 20px;
        }
      }

      .taiwan-container {
        padding: 0 20px;

        .taiwan-country {
          max-width: 230px;

          .pge-powerplants {
            width: 55px;

            &.pge-power1 {
              top: 12%;
              left: 66%;
            }

            &.pge-power2 {
              top: 22%;
              left: 29%;
            }

            &.pge-power3 {
              top: 36%;
              left: 12%;
            }

            &.pge-power4 {
              top: 52%;
              left: 46%;
            }

            &.pge-power5 {
              top: 60%;
              left: 12%;
            }
          }
        }

        .taiwan-text {
          top: -60px;
          left: 50%;
          transform: translate(-50%, 0);

          &:before {
            display: none;
          }

          h2 {
            position: relative;
            top: 0;
            right: 0;
            left: 0;
            transform: translateX(0);
            white-space: nowrap;
          }
        }

        .ocean-container {
          .pge-ship,
          .waves-container,
          .whale-container   {
            opacity: 0;
            visibility: hidden;
          }

          .ocean-partition {
            position: absolute;
            width: 100%;
          }

          .ocean-text-container {
            top: -80px;
          }
        }
      }
    }

    .act-two-container {
      .skyline-text-container {
        top: 10%;
        left: 4%;
        max-width: 230px;
      }

      .taipei-sky-elements {
        .pge-sun {
          top: 6%;
          right: 7%;
          max-width: 130px;
        }

        .pge-moon {
          top: 7%;
          right: 7%;
          min-width: 50px;
          max-width: 100px;
        }

        .pge-skyline-clouds {
          width: 150%;
          top: 10%;
        }
      }

      .night-text-container {
        top: 12%;
        left: 4%;
        max-width: 230px;
        opacity: 0;
      }

      .skyline-container {
        min-width: 950px;
        transform: translateX(-24%);

        .taipei-skyline {
          .taipei-night-skyline {
            position: relative;
          }

          .taipei-day-skyline {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          .pge-day-skyline,
          .pge-night-skyline {
            position: absolute;
            width: 100%;
            bottom: 0;

            img { vertical-align: bottom; }

            &#pge-night-sky1 {
              opacity: 0;
              visibility: hidden;
            }

            &#pge-day-sky1,
            &#pge-night-sky1 {
              position: relative;
              z-index: 4;
            }

            &#pge-day-sky2, &#pge-night-sky2 { z-index: 5; }
            &#pge-day-sky3, &#pge-night-sky3 { z-index: 6; }
            &#pge-day-sky4, &#pge-night-sky4 { z-index: 7; }
            &#pge-day-sky5, &#pge-night-sky5 { z-index: 8; }
            &#pge-day-sky6, &#pge-night-sky6 { z-index: 9; }
            &#pge-day-sky7, &#pge-night-sky7 { z-index: 10; }
            &#pge-day-sky8, &#pge-night-sky8 { z-index: 11; }
          }
        }

        .taipei-solar-panels {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 12;

          .pge-city-panels {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            opacity: 0;
          }
        }
      }

      .mobile-phone-overlay {
        z-index: 13;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .8));
        opacity: 0;
        visibility: hidden;
      }

      .mobile-panels-container {
        z-index: 20;

        .hand-phone-container {
          figure.mobile-hand-phone {
            width: 220%;
            transform: translateX(-27.5%);
          }

          .phone-progress-container {
            width: 50%;
            left: 47%;
            height: 30px;
            border: 2px solid #000;

            p {
              right: -10px;
              top: -54px;
              font-size: 24px;

              &:after {
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid #222;
                margin: 5px auto 0;
                left: 15px;
              }

              span {
                font-size: 12px;
              }
            }

            .phone-progress {
            }
          }

          .taipei-mobile-panels {
            .pge-mobile-panels {
              width: 60%;
              left: 16%;
              top: 5%;
            }
          }

          .taipei-mobile-plants {
            .pge-mobile-powerplants {
              width: 45px;

              &#pge-mobile-power1 {
                top: 19%;
                left: 52%;
              }

              &#pge-mobile-power2 {
                top: 26%;
                left: 36%;
              }

              &#pge-mobile-power3 {
                top: 42%;
                left: 28%;
              }

              &#pge-mobile-power4 {
                top: 55%;
                left: 30%;
              }

              &#pge-mobile-power5 {
                top: 44%;
                left: 43%;
              }
            }
          }
        }
      }

      .people-scene-container {
        .people-text-container {
          h1 {
          }
        }

        .people-container {
          margin-bottom: 70px;

          .pge-people {
          }
        }
      }

      .form-scene-container {

        .full-height-hero {
        }

        .form-container {
          form {
            .form-group {
              margin-bottom: 10px;

              input[type="text"],
              input[type="email"],
              input[type="phone"],
              input[type="number"],
              textarea {
                padding: 10px 20px;
                font-size: 18px;
                letter-spacing: 1px;
                border-radius: 10px;
                border: 1px solid #222;
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }

    .scene-one-scrollarea {
      .cloud-split-scene {
        height: 100vh;
      }

      .logo-fade-in-scene {
        height: 100vh;
      }

      .logo-fade-out-scene {
        height: 100vh;
      }

      .taiwan-intro-scene {
        height: 100vh;
      }

      .taiwan-zoom-scene {
        height: 100vh;
      }

      .ocean-intro-scene {
        height: 100vh;
      }

      .pollution-scene {
        height: 100vh;
      }

      .kill-clouds-scene {
        height: 5vh;
      }

      .outro-scene {
        height: 100vh;
      }
    }

    .scene-two-scrollarea {
      .smog-enter-scene {
        height: 150vh;
      }

      .night-cloud-intro-scene {
        height: 100vh;
      }

      .night-text-scene {
        height: 20vh;
      }

      .skyline-enter-scene {
        height: 150vh;
      }

      .night-skyline-scene {
        height: 150vh;
      }

      .city-panels-scene {
        height: 150vh;
      }

      .day-skyline-scene {
        height: 100vh;
      }

      .smog-fade-scene {
        height: 100vh;
      }

      .mobile-phone-scene {
        height: 100vh;
      }

      .mobile-power-scene {
        height: 100vh;
      }

      .mobile-panels-scene {
        height: 150vh;
      }

      .city-exit-scene {
        height: 100vh;
      }

      .people-popup-scene {
        height: 100vh;
      }

      .people-popup-delay {
        height: 100vh;
      }

      .form-intro-scene {
        height: 100vh;
      }

      .outro-scene {
        height: 100vh;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}
