@import 'global';

header.section-header,
section.section {
  .odometer.odometer-auto-theme, .odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default, .odometer.odometer-theme-default .odometer-digit {
    vertical-align: initial;
  }
}

header.section-header {
  &.aspect-5625 .aspect-hero {
    background-color: $ocean-blue;

    .projects-hero,
    .projects-dots {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;

      img { position: relative; }
    }
  }

  .hero-content {
    top: 38%;
    left: 20%;

    h1 {
      font-size: 50px;
      line-height: 1.4;
      color: $main-white;

      &:after {
        width: 100%;
      }
    }
  }

  .hero-subcontent {
    position: absolute;
    bottom: 10%;
    right: 8%;

    h2 {
      color: $main-white;
      text-transform: none;
      font-size: 24px;
    }
  }
}

section.section {
  .projects-accordion {
    margin: 80px auto;
  }

  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    display: none;
  }

  input[type="checkbox"]:not(:checked) + label,
  input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.7em;
    cursor: pointer;
    font-size: 13px;
    color: #727272;
    letter-spacing: 1px;
    font-weight: 500;
  }

  input[type="checkbox"]:not(:checked) + label:after,
  input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    border-right: 3px solid $main-orange;
    border-bottom: 3px solid $main-orange;
    width: 15px;
    height: 15px;
  }

  input[type="checkbox"]:not(:checked) + label:after {
    transform: translateY(-50%) rotate(45deg);
  }

  input[type="checkbox"]:checked + label:after {
    transform: translateY(-50%) rotate(225deg);
  }

  input[type="checkbox"] ~ .project-details {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 600ms cubic-bezier(.25, .1, .25, 1);
  }

  input[type="checkbox"]:checked ~ .project-details {
    max-height: 1500px;
    margin-bottom: 40px;
    opacity: 1;
  }

  .project-container {
    label.project-tab {
      position: relative;
      padding: 15px;
      border-bottom: 1px solid #000;
      max-width: 960px;
      width: 85%;
      margin: 0 auto;
      display: block;

      span {
        text-transform: uppercase;
        letter-spacing: 2px;

        &.project-name {
          font-size: 24px;
          padding-right: 20px;
        }

        &.project-description {
          font-weight: 300;
        }
      }
    }

    .project-details {
      .project-content {}

      .project-header {
        display: flex;
        flex-flow: row nowrap;
        padding: 20px;
        max-width: 800px;
        margin: 0 auto;

        h2.project-number {
          font-size: 100px;
          font-weight: bold;
          color: #777;
          line-height: 1;
          margin-right: 40px;
          padding: 0;
        }

        span.project-title {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          justify-content: flex-end;
          font-size: 20px;
          padding-bottom: 5px;

          span:first-of-type {
            margin-bottom: 15px;
          }
        }
      }

      .project-carousel {
        position: relative;
        width: 100%;
        margin: 50px auto;

        .slick-track {
          display: flex;
          align-items: center;
        }

        figure.project-img {
          &:focus {
            outline: none;
          }

          img {
            transform: scale(.85);
            opacity: .5;
            transition: 300ms all ease;
          }

          &.slick-center img {
            transform: scale(1);
            opacity: 1;
          }
        }

        .slick-next:before,
        .slick-prev:before {
          content: '';
        }

        .slick-next,
        .slick-prev {
          display: flex;
          align-items: center;
          height: 100%;
          width: 15%; //centerPadding %
          z-index: 999;
        }

        .slick-next {
          right: 0;
          .chevron-border {
            margin-left: auto;
            margin-right: 25px;
          }
        }

        .slick-prev {
          left: 0;
          .chevron-border {
            margin-right: auto;
            margin-left: 25px;
          }
        }

        .chevron-border {
          position: relative;
          top: auto;
          bottom: auto;
          left: auto;
          right: auto;
          transform: none;
          padding: 12px;

          .chevron {
            border-bottom-width: 6px;
            border-right-width: 6px;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  header.section-header {
    &.aspect-5625 {
      .aspect-hero {
        padding-bottom: 178%;

        .projects-hero,
        .projects-dots {
          width: 100%;
        }
      }

      .hero-content {
        top: 18%;
        left: 50%;

        h1.underline {
          font-size: 32px;
        }
      }
    }

    .hero-subcontent h2 {
      font-size: 18px;
    }
  }

  section.section {
    .projects-accordion {
      margin: 40px auto 80px;
    }

    // input[type="checkbox"]:not(:checked) + label:after,
    // input[type="checkbox"]:checked + label:after {
    //   content: '';
    //   position: absolute;
    //   top: 50%;
    //   right: 20px;
    //   border-right: 3px solid orange;
    //   border-bottom: 3px solid orange;
    //   width: 15px;
    //   height: 15px;
    // }

    input[type="checkbox"]:checked ~ .project-details {
      max-height: 900px;
    }

    .project-container {
      label.project-tab {
        padding-right: 50px;
        width: 100%;

        span {
          text-transform: none;

          &.project-name {
            font-size: 20px;
            padding-right: 0;
          }

          &.project-description {
            font-size: 14px;
          }
        }
      }

      .project-details {
        .project-content {}

        .project-header {
          display: flex;
          flex-flow: row nowrap;
          padding: 20px;
          max-width: 800px;
          margin: 0 auto;

          h2.project-number {
            margin-right: 40px;
          }

          span.project-title {
            font-size: 16px;

            span:first-of-type {
              margin-bottom: 5px;
            }
          }
        }

        .project-carousel {
          margin: 50px auto;

          figure.project-img {
            img {
            }
          }

          .slick-next,
          .slick-prev {
            width: 15%;
          }

          .slick-next {
            .chevron-border {
              margin-right: 10px;
            }
          }

          .slick-prev {
            .chevron-border {
              margin-left: 10px;
            }
          }

          .chevron-border {
            padding: 12px 13px;

            &.black {
              .chevron {
                border-color: $main-white;
              }
            }

            .chevron {
              border-bottom-width: 5px;
              border-right-width: 5px;
            }
          }
        }
      }
    }
  }
}
